page-map-settings {

}


#mapCenterUI, #mapFilterUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  float: left;
  margin-right: 10px;
  text-align: center;
}

#mapCenterText, #mapFilterText {
  color: #777;
  font-family: Roboto,Arial,sans-serif;
  font-size: 22px;
  line-height: 25px;
  padding: 3px 5px 2px;
}

#mapCenterUI {
  margin-bottom: 10px;
}