password-strength-bar {
    width: 100%;
    display: block;

    .psb-wrapper {
        position: relative;
        height: 20px;
        background-color: rgba(155, 155, 155, 0.4);
        border-radius: $border-radius;
    }

    .psb-fill {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: transparent;
        width: 0;
        border-radius: inherit;
        transition: width 0.4s ease-in-out, background 1s;
    }

    .psb-fill[data-strength='1'] {
        //background: darkred;
        background-color: darken(map_get($colors, danger), 20);
        width: 20%;
    }

    .psb-fill[data-strength='2'] {
        //background-color: orangered;
        background-color: map_get($colors, danger);
        width: 40%;
    }

    .psb-fill[data-strength='3'] {
        //background-color: orange;
        background-color: darken(map_get($colors, secondary), 20);
        width: 60%;
    }

    .psb-fill[data-strength='4'] {
        //background-color: yellowgreen;
        background-color: map_get($colors, green);
        width: 80%;
    }

    .psb-fill[data-strength='5'] {
        //background-color: green;
        background-color: darken(map_get($colors, green), 10);
        width: 100%;
    }

    .psb-label {
        position: absolute;
        left: 8px;
        top: 1px;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
    }
}
