page-about {
    .container {
        padding-top: calc(3vh);
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        p {
            margin-left: 20px;
            margin-right: 20px;
            font-size: 1.5rem;
            line-height: 2.2rem;
        }

        img {
            margin-top: 50px;
        }

        button {
            margin-top: 20px;
        }
    }
}
