<ion-header>

    <ion-navbar>
        <ion-title></ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-grid class="fullpage" *ngIf="!auth.loggedIn()">
        <ion-row>
            <ion-col>
                <h1 text-center>Willkommen bei Share&Charge</h1>
                <form (ngSubmit)="submitForm()">
                    <div padding="">
                    <ion-input type="text" [(ngModel)]="credentials.email" name="email" placeholder="E-Mail"></ion-input>
                    </div>
                    <div padding="">
                        <ion-input type="password" [(ngModel)]="credentials.password" name="password" placeholder="Passwort"></ion-input>
                    </div>
                    <div padding="" text-center="">
                        <p>
                            <button ion-button round color="white" type="submit" text-uppercase="">Login</button>
                        </p>
                        <p>
                            <button clear ion-button (click)="signUp()" color="dark" type="button">Anmelden</button>
                        </p>
                    </div>
                </form>
            </ion-col>
        </ion-row>
        <!--<ion-row bottom="">-->
            <!--<ion-col>-->
                <!--<ion-row wrap>-->
                    <!--<ion-col width-33>-->
                        <!--<button ion-button icon-only round color="white" (click)="loginFacebook()">-->
                            <!--<ion-icon name="logo-facebook"></ion-icon>-->
                        <!--</button>-->
                    <!--</ion-col>-->
                    <!--<ion-col width-33 text-center="">-->
                        <!--<button ion-button icon-only round color="white" (click)="loginGoogle()">-->
                            <!--<ion-icon name="logo-googleplus"></ion-icon>-->
                        <!--</button>-->
                    <!--</ion-col>-->
                    <!--<ion-col width-33 text-right="">-->
                        <!--<button ion-button icon-only round color="white" (click)="loginMicrosoft()">-->
                            <!--<ion-icon name="logo-windows"></ion-icon>-->
                        <!--</button>-->
                    <!--</ion-col>-->
                <!--</ion-row>-->
            <!--</ion-col>-->
        <!--</ion-row>-->
    </ion-grid>


    <ion-grid class="fullpage" *ngIf="auth.loggedIn()">
        <ion-row>
            <ion-col>

                <h1>Hello</h1>
                {{ auth.getUser().displayName}}
                <button ion-button (click)="logout()">Logout</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

