location-details {
  ion-header button {
    text-shadow: 2px 0px 0px #fff;
  }
  .image-wrapper {
    background-color: #eee;
    height: 180px;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }

  }

  .scroll-content {
    margin-top: 0 !important; // @TODO
  }

  ion-footer {
    box-shadow: 0px -3px 17px rgba(50, 50, 50, 0.3);
  }

  .plug-icon svg {
    position: relative;
    top: -2px;
    width: 50px;
  }

  .icons-commercial-category ion-icon {
    font-size: 50px;
  }

  .kw-box {
    display: inline-block;
    text-align: center;
  }

  .footer-price {
    margin-left: 5px;
    ion-icon {
      font-size: 20px;
      position: relative;
      top: 3px;
      left: 5px;
    }
  }

  .tariff{
    // background: transparent;
    max-width: 100% !important;
    ion-select {
      position: absolute;
      margin-left: 40px;
    }
  }
  .footer-rating {
    margin-top: 5px;
    margin-left: 2px;
  }
}
