<ion-header class="transparent">
    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()" icon-only>
                <ion-icon name="ios-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="content-white">
    <div class="image-wrapper">
        <div #map id="map" (click)="detailedMap()">
        </div>
        <ion-fab right bottom edge>
            <button ion-fab color="white" class="button-shadow" (click)="openMapsApp()">
                <ion-icon name="ios-navigate-outline"></ion-icon>
            </button>
        </ion-fab>
    </div>
    <div padding>
        <span *ngIf="location.name != ''">{{location.name}}</span>
        <p>
            <strong>{{location.address}}, {{location.city}}</strong>
        </p>


        <div *ngIf="!showOpeningHours" margin-bottom>
            Öffnungszeiten: {{openingHours[today].fromTo}}
            <ion-icon (click)="showOpeningHours = !showOpeningHours" name="ios-arrow-down"></ion-icon>
        </div>
        <div *ngIf="showOpeningHours" margin-bottom>
            Öffnungszeiten:
            <ion-icon (click)="showOpeningHours = !showOpeningHours" name="ios-arrow-up"></ion-icon>

            <table>
                <tr *ngFor="let day of openingHours">
                    <td>{{day.name}}:</td>
                    <td>{{day.fromTo}}</td>
                </tr>
            </table>
        </div>

        <hr>

        <ion-grid class="nopadding" margin-top *ngIf="connector">
            <ion-row>
                <ion-col width-50 class="nopadding">
                    <span [innerHtml]="plugSvg" class="plug-icon"></span>
                </ion-col>
                <ion-col width-50 text-right>
                    <span *ngIf="connector.maxwattpower > 0" class="kw-box">
                        <strong>{{connector.maxwattpower / 1000}} kW</strong>
                        <br>max.
                    </span>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

    <div>
        <ion-slides>
            <ion-slide *ngFor="let img of location.images">
                <img src="{{img.src}}">
            </ion-slide>
        </ion-slides>
    </div>

    <div padding="">
        <div *ngIf="location.description">
            <h6>Über diese Station:</h6>
            <p class="text-line-wrap">
                {{location.description}}
            </p>
            <hr>
        </div>

        <div *ngIf="location.metadata.problemSolver">
            <h6>Ansprechpartner:</h6>
            <p>{{location.metadata.problemSolver}}</p>
        </div>

        <h6>Bewertungen:</h6>

        <div *ngFor="let rating of ratings">
            <rating [(ngModel)]="rating.rating" readonly="true"></rating>
            {{rating.remark}}
            <hr>
        </div>

        <button ion-button color="secondary" small round outline (click)="feedback()" *ngIf="authService.loggedIn()">+
            Bewertung schreiben
        </button>
    </div>

</ion-content>

<ion-footer>
    <charging-progress-bar></charging-progress-bar>
    <ion-toolbar color="light">
        <ion-grid>
            <ion-row>
                <ion-col center>
                    <div class="footer-price">
                        <strong *ngIf="minPrice == maxPrice && minPrice != 0">
                            {{(maxPrice / 100) | currency:'EUR':true:'1.2-2'}}
                            <ng-container *ngIf="!flatrateTariff"></ng-container>
                            <ng-container *ngIf="includingVat">(inkl. 19% MwSt.)</ng-container>
                        </strong>
                        <strong *ngIf="minPrice != maxPrice && maxPrice != 0">
                            {{(minPrice / 100) | currency:'EUR':true:'1.2-2'}} -
                            {{(maxPrice / 100) | currency:'EUR':true:'1.2-2'}}
                            <ng-container *ngIf="includingVat">(inkl. 19% MwSt.)</ng-container>
                            <ion-icon name="ios-help-circle-outline" (click)="showHelp('price-range')" color="primary"></ion-icon>
                        </strong>
                        <strong *ngIf="minPrice == 0 && maxPrice == 0">
                            kostenlos
                        </strong>
                    </div>
                    <div *ngIf="averageRating != -1" class="footer-rating">
                        <rating [(ngModel)]="averageRating" readonly="true"></rating>
                    </div>
                </ion-col>
                <ion-col text-right>
                    <button ion-button round color="primary" text-uppercase (click)="charge()" *ngIf="connector.isOpen()">
                        <span *ngIf="!charging">Laden</span>
                        <span *ngIf="charging">Ladefortschritt</span>
                    </button>
                    <span *ngIf="!connector.isOpen()">Laden außerhalb der Öffnungszeiten ist leider nicht möglich!</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>