location-details {
  .image-wrapper {
    background-color: #eee;
    height: 180px;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }

  }

  .scroll-content {
    margin-top: 0 !important; // @TODO
  }

  ion-footer {
    box-shadow: 0px -3px 17px rgba(50, 50, 50, 0.3);
  }

  .plug-icon svg {
    position: relative;
    top: -2px;
    width: 50px;
  }

  .kw-box {
    display: inline-block;
    text-align: center;
  }

  .footer-price {
    margin-left: 5px;
  }
  .footer-rating {
    margin-top: 5px;
    margin-left: 2px;
  }
}
