<ion-header>

    <ion-navbar>
        <ion-title>Add a Car</ion-title>
        <ion-buttons start>
            <button ion-button (click)="skipAddingCar()">
                Skip
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="top-image-container">

        <div class="inner-content">
            <img [src]="base64Image" *ngIf="base64Image">
        </div>
        <ion-fab bottom right edge>
            <button ion-fab (click)="addPhoto()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-fab>
    </div>

    <ion-list no-lines>
        <ion-item>
            <ion-label floating>Plate number</ion-label>
            <ion-input type="text" [(ngModel)]="plateNumber"></ion-input>
        </ion-item>


        <ion-segment color="primary" [(ngModel)]="segmentTabs" padding>
            <ion-segment-button value="preset">
                Preset
            </ion-segment-button>
            <ion-segment-button value="custom">
                Customize
            </ion-segment-button>
        </ion-segment>

            <div  *ngIf="segmentTabs == 'preset'" >

                <ion-list *ngIf="car.manufacturer == ''">
                    <button ion-item (click)="selectModdel()">
                        Select Car Model
                    </button>
                </ion-list>

                <ion-list *ngIf="car.manufacturer != ''">
                    <button ion-item (click)="selectModdel()">
                        {{car.manufacturer}}  {{car.model}}
                    </button>
                </ion-list>

            </div>

        <div *ngIf="segmentTabs == 'custom'">
            <ion-item>
                <ion-label floating>Manufacturer</ion-label>
                <ion-input type="text" [(ngModel)]="car.manufacturer"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Model</ion-label>
                <ion-input type="text" [(ngModel)]="car.model"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Average Distance</ion-label>
                <ion-input type="text" [(ngModel)]="car.averageDistance"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Akku Capacity</ion-label>
                <ion-input type="text" [(ngModel)]="car.akkuCapacity"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Plug Types</ion-label>
            </ion-item>

            <ion-item>
                <ion-select [(ngModel)]="car.plugTypes" [selectOptions]="selectPlugTypesOptions" multiple="true" class="select-multiline" placeholder="Please Select ...">
                    <ion-option>Schuko-Steckdose</ion-option>
                    <ion-option>CEE-Stecker</ion-option>
                    <ion-option>Typ 1</ion-option>
                    <ion-option>Typ 2</ion-option>
                    <ion-option>Combo</ion-option>
                    <ion-option>CHAdeMO</ion-option>
                    <ion-option>Tesla Supercharger</ion-option>
                </ion-select>
            </ion-item>
        </div>

        <div padding>
            <button ion-button (click)="saveCar()">{{saveButtonText}}</button>
            <button *ngIf="showDeleteButton" ion-button (click)="deleteCar()">Delete</button>
        </div>
    </ion-list>


</ion-content>
