page-add-car {

  .top-image-container {
    @include aspect-ratio(16, 9);

    $_top: lighten(#9b6ae8, 20);
    $_bottom: lighten(#106ef1, 30);
    background-color: $_top;
    background-image: linear-gradient($_top, $_bottom);

    border-bottom: 2px solid transparent;
    
    img {
      width: 100%;
      height: auto;
    }
    .inner-content {
      overflow: hidden;
    }
  }
}
