<ion-header>

    <ion-navbar>
        <ion-title>{{'profile.data.change_password' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <form (ngSubmit)="updatePassword()" [formGroup]="passwordForm">
        <ion-list no-lines="">
            <ion-item>
                <ion-label floating>{{'profile.data.old_password' | translate}}</ion-label>
                <ion-input type="password" class="input-white" [(ngModel)]="oldPassword" formControlName="oldPassword"></ion-input>
            </ion-item>
            <div *ngIf="!passwordForm.controls.oldPassword.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.oldPassword }}
            </div>
            <div formGroupName="newPasswords">
                <ion-item>
                    <ion-label floating>{{'profile.data.new_password' | translate}}</ion-label>
                    <ion-input type="password" class="input-white" [(ngModel)]="newPassword" formControlName="password"></ion-input>
                </ion-item>
                <div *ngIf="!passwordForm.controls.newPasswords.controls.password.valid && submitAttempt"
                     class="alert-box alert-box-danger" margin>
                    {{ errorMessages.newPassword }}
                </div>
                <ion-item>
                    <ion-label floating>{{'profile.data.confirm_new_password' | translate}}</ion-label>
                    <ion-input type="password" class="input-white" formControlName="passwordRepeat"></ion-input>
                </ion-item>
                <div *ngIf="!passwordForm.controls.newPasswords.valid && submitAttempt"
                     class="alert-box alert-box-danger" margin>
                    {{ errorMessages.passwordsNotEqual }}
                </div>
            </div>
            <div padding text-center>
                <button type="submit" ion-button round text-uppercase="">{{'common.save' | translate}}</button>
            </div>
        </ion-list>
    </form>
</ion-content>