<ion-header>

    <ion-navbar>
        <ion-title *ngIf="flowMode=='edit'">{{ 'station.edit_station' | translate }}</ion-title>
        <ion-title *ngIf="flowMode=='add'">{{ 'station.add_station' | translate }}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="close()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <progress-bar [progress]="95"></progress-bar>
</ion-header>


<ion-content>
    <ion-list *ngFor="let type of types" [class.disabled]="connector.priceprovider[type] && !connector.priceprovider[type].active">
        <ion-list-header>
            {{names[type]}}
        </ion-list-header>
        <ng-container *ngIf="connector.priceprovider[type] && connector.priceprovider[type].selected === 'flatrate'">
            <ion-item>
                <p>{{ 'station.your_tarif' | translate }}</p>
                <h2>{{connector.priceprovider[type].flatrate.flatrateRate | currencyDisplay }} <ng-container *ngIf="user && user.profile.operatorVat">(inkl. 19% MwSt.)</ng-container></h2>
            </ion-item>
            <ion-item>
                <p>{{ 'station.sc_fee' | translate }}</p>
                <h2>{{estimations[type] && estimations[type].small.includedFee | currencyDisplay }} (inkl. 19% MWSt)</h2>
            </ion-item>
            <ion-item class="item-highlight">
                <p>{{ 'station.total_price' | translate }}</p>
                <h2>{{estimations[type] && estimations[type].small.price | currencyDisplay }} <ng-container *ngIf="user && user.profile.operatorVat">(inkl. 19% MwSt.)</ng-container></h2>
            </ion-item>
        </ng-container>
        <ng-container *ngIf="connector.priceprovider[type] && connector.priceprovider[type].selected !== 'flatrate'">
            <ion-item>
                <ion-grid class="nopadding-outer">
                    <ion-row>
                        <ion-col>
                            <p>{{ 'station.your_energy_cost' | translate }}</p>
                            <h2>{{pricePerKwh[type] | currencyDisplay }}/kWh</h2>
                        </ion-col>
                        <ion-col>
                            <p>{{ 'station.park_cost' | translate }}</p>
                            <h2>{{parkingFee[type] | currencyDisplay }}/h</h2>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item>
                <ion-grid class="nopadding-outer">
                    <ion-row>
                        <ion-col>{{ 'station.set_hourly_price' | translate }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>{{ 'station.capacity' | translate }}</ion-col>
                        <ion-col text-right width-20>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br><small>3,7 kWH</small>
                        </ion-col>
                        <ion-col text-right width-20>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br><small>11 kWH</small>
                        </ion-col>
                        <ion-col text-right width-20>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br><small>22 kWH</small>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>{{ 'station.energy_cost' | translate }} <span class="vat" *ngIf="user && user.profile.operatorVat"><br>(inkl. 19% MwSt.)</span></ion-col>
                        <ion-col text-right width-20>{{estimations[type] && (estimations[type].small.price - parkingFee[type] - estimations[type].small.includedFee) | currencyDisplay }}</ion-col>
                        <ion-col text-right width-20>{{estimations[type] && (estimations[type].medium.price - parkingFee[type] - estimations[type].medium.includedFee) | currencyDisplay }}</ion-col>
                        <ion-col text-right width-20>{{estimations[type] && (estimations[type].big.price - parkingFee[type] - estimations[type].big.includedFee) | currencyDisplay }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>{{ 'station.park_cost' | translate }} <span class="vat" *ngIf="user && user.profile.operatorVat"><br>(inkl. 19% MwSt.)</span></ion-col>
                        <ion-col text-right width-20>{{parkingFee[type] | currencyDisplay }}</ion-col>
                        <ion-col text-right width-20>{{parkingFee[type] | currencyDisplay }}</ion-col>
                        <ion-col text-right width-20>{{parkingFee[type] | currencyDisplay }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>{{ 'station.sc_fee' | translate }}<br><span class="vat">(inkl. 19% MwSt.)</span></ion-col>
                        <ion-col text-right width-20>{{estimations[type] && estimations[type].small.includedFee | currencyDisplay }}</ion-col>
                        <ion-col text-right width-20>{{estimations[type] && estimations[type].medium.includedFee | currencyDisplay }}</ion-col>
                        <ion-col text-right width-20>{{estimations[type] && estimations[type].big.includedFee | currencyDisplay }}</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item class="item-highlight">
                <ion-grid class="nopadding-outer">
                    <ion-row>
                        <ion-col>{{ 'station.total_price' | translate }} <span class="vat" *ngIf="user && user.profile.operatorVat"><br>(inkl. 19% MwSt.)</span></ion-col>
                        <ion-col text-right width-20>{{estimations[type] && estimations[type].small.price | currencyDisplay }}</ion-col>
                        <ion-col text-right width-20>{{estimations[type] && estimations[type].medium.price | currencyDisplay }}</ion-col>
                        <ion-col text-right width-20>{{estimations[type] && estimations[type].big.price | currencyDisplay }}</ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ng-container>
    </ion-list>

    <ion-list no-lines="" class="no-margin-bottom">
        <ion-item text-wrap="">
            <ion-checkbox [(ngModel)]="termsChecked" class="checkbox-square item-partial-cover-cb"></ion-checkbox>
            <ion-label>
                {{ 'station.accept_the_given' | translate}} <a (click)="openTerms()">{{ 'station.terms_of_use' | translate}}</a>.
                <ion-icon name="ios-bulb-outline" color="secondary" margin-left class="icon-bulb" (click)="showHelp('terms')"></ion-icon>
            </ion-label>
        </ion-item>
    </ion-list>

    <div padding text-center>
        <button ion-button round (click)="publish()" text-uppercase block [disabled]="!termsChecked">
            {{ 'station.confirm' | translate}}
        </button>
    </div>
</ion-content>