tariff-confirmation {
  ion-list {
    ion-list-header {
      text-transform: none !important;
      color: map-get($colors, secondary) !important;
      font-size: 1.3em !important;
      letter-spacing: 0 !important;
      font-weight: normal !important;
    }

    ion-item {
      background-color: white !important;
    }

    ion-item:nth-last-child(2) {
      .item-inner {
        border-bottom: none !important;
      }
    }

    ion-item:last-child {
      background-color: transparentize(map-get($colors, secondary), 0.85) !important;
    }
  }

  .disabled {
    ion-list-header:after {
      content: 'OFF';
      padding-right: 20px;
    }

    ion-item {
      display: none;
    }
  }
}