<ion-header>

    <ion-navbar>
        <ion-title>Dashboard</ion-title>
    </ion-navbar>
    <charging-progress-bar></charging-progress-bar>
</ion-header>
<ion-content>
    <div class="top-container" padding="" text-center="">
        <button class="image-button filled" (click)="selectPhoto()" *ngIf="user.hasImage()"
                [ngStyle]="{'background-image':'url(' + user.profile.imageBase64 + ')'}">
        </button>
        <button class="image-button" (click)="selectPhoto()" *ngIf="!user.hasImage()">
            <span>Foto hinzufügen</span>
        </button>
        <div>
            <strong>{{user.email}}</strong>
        </div>
    </div>

    <ion-list>
        <button ion-item (click)="settings()">
            Profil Einstellungen
        </button>
        <button ion-item (click)="myCars()">
            Meine Elektroautos
        </button>
        <button ion-item (click)="help()">
            Hilfe
        </button>
        <button ion-item (click)="feedback()">
            Feedback
        </button>

        <button ion-item (click)="logOut()" class="color-secondary">
            Logout
        </button>
    </ion-list>
</ion-content>
