page-dashboard {
    .top-container {
        @include sc-gradient-light();
        color: #fff;
    }

    .image-button {
        $_button_size: 130px;
        width: $_button_size;
        height: $_button_size;
        display: block;
        overflow: hidden;
        margin: 20px auto 15px auto;
        padding: 16px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.2) no-repeat center center;
        background-size: cover;
        color: inherit;
        font-size: 1.6rem;
        line-height: 2rem;

        &.filled {
            border: 2px solid #fff;
        }
    }
}
