<ion-header>

    <ion-navbar>
        <ion-title>Dashboard</ion-title>
    </ion-navbar>
    <charging-progress-bar></charging-progress-bar>
</ion-header>
<ion-content>
    <div class="top-container" padding="">

        <div class="inner-content">

        </div>

        <button class="image-button filled" (click)="selectPhoto()" *ngIf="user.hasImage()"
                [ngStyle]="{'background-image':'url(' + user.profile.imageBase64 + ')'}">
        </button>
        <button class="image-button" (click)="selectPhoto()" *ngIf="!user.hasImage()">
            <span>Foto hinzufügen</span>
        </button>
        <div class="text-holder" *ngIf="auth.loggedIn()">
            You are logged in as <strong>{{user.email}}</strong>
        </div>
    </div>

    <ion-list>
        <button ion-item (click)="settings()">
            Account Settings
        </button>
        <button ion-item (click)="myCars()">
            My Cars
        </button>
        <button ion-item (click)="help()">
            Help
        </button>
        <button ion-item (click)="feedback()">
            Give Us Feedback
        </button>

        <button ion-item (click)="logOut()">
            Logout
        </button>
    </ion-list>
</ion-content>
