<ion-header>

    <ion-navbar>
        <ion-title>Profildaten</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div class="top-container" padding="" text-center="">
        <button class="image-button filled" (click)="selectPhoto()" *ngIf="user.hasImage()"
                [ngStyle]="{'background-image':'url(' + user.profile.imageBase64 + ')'}">
        </button>
        <button class="image-button" (click)="selectPhoto()" *ngIf="!user.hasImage()">
            <span><ion-icon name="cust-add-photo"></ion-icon></span>
        </button>
        <div>
            <strong>{{user.email}}</strong>
        </div>
    </div>

    <ion-list padding-top="" padding-right="" class="no-outer-lines">
        <button ion-item (click)="editProfile()">
            Name und Anschrift
        </button>
        <button ion-item (click)="editEmail()">
            E-Mail Adresse
        </button>
        <button ion-item (click)="editPassword()">
            Passwort ändern
        </button>
        <button ion-item (click)="resendVerificationEmail()" *ngIf="!user.isEmailVerified()">
            Bestätigung erneut senden
        </button>
        <button ion-item (click)="deleteAccountConfirm()" class="color-secondary">
            Profil löschen
        </button>
    </ion-list>
</ion-content>
