page-charging {
    .progress-wrapper {
        position: relative;
    }
    .battery-charging {
        position: absolute;
        top: 85px;
        left: calc(50% - 30px);
    }
    canvas {
        padding: 0;
        margin: 20px auto;
        display: block;
    }
    .big-header {
        font-size: 56px;
        color: map_get($colors, primary);
    }

    .price-label {
        margin-top: 10px;
        color: rgb(153, 153, 153);
        font-size: 18px;
    }

    .top-item-text {
        margin-right: 50px;
        display: flex;
        font-size: larger;
        padding-bottom: 10px;
        .text {
            padding-top: 10px;
            white-space: normal;
        }
    }

    ion-icon {
        font-size: 4rem;
        position: relative;
    }

    hr {
        width: 90%;
    }

    ion-footer {
        box-shadow: 0px -3px 17px rgba(50, 50, 50, 0.3);
    }

    .vat {
        font-size: 80%;
    }
}
