page-charging {
    .progress-wrapper {
        position: relative;
    }
    .battery-charging {
        position: absolute;
        top: 85px;
        left: calc(50% - 30px);
    }
    canvas {
        padding: 0;
        margin: 20px auto;
        display: block;
    }
    .big-header {
        font-size: 56px;
        color: map_get($colors, primary);
    }

    .price-label {
        margin-top: 10px;
        color: rgb(153, 153, 153);
        font-size: 18px;
    }

    .owner-wrapper {
        color: rgb(153, 153, 153);
    }

    .top-item-text {
        margin-right: 50px;
        display: flex;
        font-size: larger;
        padding-bottom: 10px;
        .text {
            padding-top: 10px;
            white-space: normal;
        }
    }

    ion-icon {
        font-size: 4rem;
        position: relative;
    }

    hr {
        width: 90%;
    }

    ion-footer {
        box-shadow: 0px -3px 17px rgba(50, 50, 50, 0.3);
    }

    .vat {
        font-size: 80%;
    }
    ion-footer hr {
        background-color: #bbb;
        color: #bbb;
    }

    .lists{
        background: transparent;
        max-width: 100% !important;
        // ion-select {
        //   position: absolute;
        //   margin-left: 40px;
        // }
      }

    .estimated_price {
        text-align: center;
        padding-top: 10px;
    }

    .flat > img {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        top:25px;
    }

    #list-label{
        color: black;
    }

    .no-scroll .scroll-content{
        overflow: hidden;
      }
    
}
