<ion-header>

    <ion-navbar>
        <ion-title>{{'location.charging.charging_session' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content id="all-content" padding class="content-white">

    <div class="flex-content">
        <div style="flex-grow: 1">
            <ion-icon class="left-icon" name="cust-station-pin" color="secondary"></ion-icon>
        </div>
        <div class="text" style="flex-grow: 9">
            <p>
                {{this.location.address}},
                {{this.location.city}}<br>
                {{this.location.postal_code}}
                {{this.location.country}}
            </p>
        </div>
    </div>
    <br>
    <div class="flex-content">
        <div style="flex-grow: 1">
            <ion-icon class="left-icon" name="cust-time-money" color="secondary" *ngIf="!charging"></ion-icon>
        </div>

        <!-- evse-options-type -->
        <div style="flex-grow: 9">
            <ion-item no-lines class="lists" *ngIf="!charging">
                <ion-label class="list-label">Choose EVSE:</ion-label>
                <ion-select [(ngModel)]="selectedEvse" (ionChange)="evseSelect()">
                    <ion-option *ngFor="let evse of evses">{{evse.evse_id}}</ion-option>
                </ion-select>
            </ion-item>

            <!-- tariff-options-type -->
            <ion-item no-lines class="lists" *ngIf="!charging">

                <ion-label class="list-label" *ngIf="showTariffs">Choose tariff:</ion-label>
                <ion-select [(ngModel)]="selectedTariff" (ionChange)="tariffSelect()" *ngIf="showTariffs">
                    <ion-option *ngFor="let tariff of tariffs">{{tariff.type}}</ion-option>
                </ion-select>

                <ion-label class="list-label" *ngIf="!showTariffs">Please select evse & connector</ion-label>
            </ion-item>
        </div>
    </div>

    <hr>

    <div text-center *ngIf="countingDown" class="big-header">{{chargingTimeHours}}</div>

    <div text-center class="price-label" *ngIf="activeCar != null">
        <span *ngIf="!countingDown"> {{'location.charging.estimated_price' | translate}} </span>
        <ng-container *ngIf="chargingPrice != 0">
            {{ chargingPrice }} £
            <br>
            <span class="vat" *ngIf="includingVat">{{'location.charging.tax' | translate}}</span>
        </ng-container>
        <ng-container *ngIf="chargingPrice == 0">
            {{'location.charging.free' | translate}}
        </ng-container>
    </div>


    <div class="progressForAll">
        <div class="estimated_price" *ngIf="!charging">
            <h6>Estimated price: {{estimatedPrice | walletDisplay }} {{currency}}</h6>
        </div>

        <div class="progress-wrapper">
            <div class="battery-charging" *ngIf="charging">
                <img src="assets/images/battery-charging.gif">
            </div>
            <canvas id="circleProgressBar" width="280" height="280"></canvas>
        </div>
    </div>


    <div class="owner-wrapper">
        <p>
            <strong>{{'location.charging.operator' | translate}}</strong>

            <span *ngIf="location.ownerprofile.company">
                <br>{{ location.ownerprofile.company }}
            </span>
            <span *ngIf="location.ownerprofile.firstname || location.ownerprofile.lastname">
                <br>{{ location.ownerprofile.firstname }} {{ location.ownerprofile.lastname }}
            </span>
        </p>
    </div>

</ion-content>
<ion-footer>
    <ion-toolbar color="light">
        <div text-center *ngIf="countingDown">
            <button ion-button round text-uppercase color="danger" (click)="stopCharging()" [disabled]="stopButtonDisabled">
                {{'location.charging.stop' | translate}}
            </button>
        </div>
        <div text-center *ngIf="!countingDown">
            <button ion-button round text-uppercase [disabled]="finalizeButton" (click)="startCharging()">
                {{'location.charging.btn_load' | translate}}
            </button>
        </div>
    </ion-toolbar>
</ion-footer>