<ion-header>

    <ion-navbar>
        <ion-title>Charging Progress</ion-title>
    </ion-navbar>
    <charging-progress-bar></charging-progress-bar>
</ion-header>


<ion-content padding>
    <div class="top-div">
        <ion-list>
            <ion-item no-lines>
                <ion-label><ion-icon name="cust-bulb"></ion-icon>Rellinghauser Strasse</ion-label>
                <ion-avatar item-right>
                    <img src="">
                </ion-avatar>
            </ion-item>
            <ion-item no-lines>
                <ion-label><ion-icon name="cust-time-money"></ion-icon>
                    Flatrate: 13</ion-label>
            </ion-item>
        </ion-list>
    </div>

    <ion-label text-center>{{timer}}</ion-label>
    <ion-item no-lines>
        <canvas id="circleProgressBar" width="280" height="280">
        </canvas>
    </ion-item>

    <button ion-button round color="danger" (click)="startCharging()" *ngIf="countingDown">
        Stop
    </button>

    <button ion-button round (click)="startCharging()" [disabled]="buttonDeactive" *ngIf="!countingDown">
        Start
    </button>

</ion-content>
