<ion-header>

    <ion-navbar>
        <ion-title>Profile</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div class="top-div">
        <div class="image-holder" (click)="presentActionSheet()">
        <span *ngIf="!base64Image">
          Add <br> Photo
        </span>
            <ion-thumbnail>
                <img [src]="base64Image" *ngIf="base64Image">
            </ion-thumbnail>
        </div>
    </div>

    <ion-list>
        <button ion-item (click)="dummy()">
            Name
        </button>
        <button ion-item (click)="dummy()">
            Email
        </button>
        <button ion-item (click)="dummy()">
            Password
        </button>

    </ion-list>

    <ion-grid class="fullpage" *ngIf="auth.loggedIn()">
        <ion-row>
            <ion-col>
                <button ion-button (click)="logout()">Logout</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
