<ion-content>
    <div class="voucher-top" text-center>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
        <div class="voucher-text">
            {{'wallet.redeem_voucher' | translate}}
        </div>
    </div>

    <div class="voucher-input" *ngIf="!(redeemSuccess || redeemError)">
        <ion-list no-lines>
            <ion-item>
                <ion-input class="input-white" type="text" [(ngModel)]="voucherCode" placeholder="{{'wallet.voucher_number' | translate}}"></ion-input>
                <button item-right ion-button icon-only (click)="redeemVoucher()" class="button-pull-left">
                    <ion-icon name="checkmark"></ion-icon>
                </button>
            </ion-item>
        </ion-list>
    </div>

    <div class="voucher-error" text-center padding *ngIf="redeemError">
        {{errorMessage}}
    </div>

    <div class="voucher-success" text-center padding *ngIf="redeemSuccess">
        <h1>{{'wallet.hurray' | translate}}</h1>
        {{'msg_vourcher_credited' | translate}}
    </div>

    <div class="voucher-image" text-center margin-bottom>
        <img src="assets/images/voucher-image.svg">
    </div>
</ion-content>
