<ion-header>

    <ion-navbar>
        <ion-title>{{'station.juice_box_details' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="close()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <progress-bar [progress]="70"></progress-bar>
</ion-header>


<ion-content padding>
    <ion-list no-lines>
        <ion-item>
            <ion-label stacked>{{'station.juice_box_device_id' | translate}}</ion-label>
            <ion-input type="text" class="input-white" [(ngModel)]="connector.metadata.deviceId" placeholder="0100000199990047469017016123"></ion-input>
        </ion-item>
        <div *ngIf="errorMessages.deviceId" class="alert-box alert-box-danger" margin>
            {{ errorMessages.deviceId }}
        </div>
        <ion-item>
            <ion-label stacked>{{'station.juice_box_pin' | translate}}</ion-label>
            <ion-input type="text" class="input-white" [(ngModel)]="connector.metadata.guestPin" placeholder="2741"></ion-input>
        </ion-item>
        <div *ngIf="errorMessages.guestPin" class="alert-box alert-box-danger" margin>
            {{ errorMessages.guestPin }}
        </div>
    </ion-list>

    <div padding class="text-wrapper" [innerHTML] = "'station.juice_box_info_text' | translate"></div>

    <div padding text-center>
        <button ion-button round (click)="nextPage()" text-uppercase outline block>{{'common.continue' | translate}}</button>
        <button ion-button round *ngIf="flowMode==='edit'" (click)="saveChanges()" text-uppercase block>{{'station.save_changes' | translate}}
        </button>
    </div>
</ion-content>
