<ion-header>
    <ion-navbar>
        <ion-title>{{'profile.account_settings.config_profile' | translate}}</ion-title>
    </ion-navbar>
    <charging-progress-bar></charging-progress-bar>
</ion-header>


<ion-content>
    <ion-list padding-top="" padding-right="" class="no-outer-lines">
        <button ion-item (click)="notifications()" *ngIf="false">
            {{'profile.account_settings.notification' | translate}}
        </button>
        <button ion-item (click)="lang()" *ngIf="false">
            {{'profile.account_settings.language' | translate}}
        </button>
        <button ion-item (click)="privacy()" *ngIf="false">
            {{'profile.account_settings.privacy' | translate}}
        </button>
    </ion-list>
</ion-content>
