<ion-header>

    <ion-navbar>
        <ion-title>Name und Anschrift bearbeiten</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
        <ion-list no-lines="">
            <ion-item>
                <ion-label floating>Vorname</ion-label>
                <ion-input type="text" class="input-white" [(ngModel)]="user.profile.firstname"
                           formControlName="firstName"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.firstName.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.firstName }}
            </div>
            <ion-item>
                <ion-label floating>Nachname</ion-label>
                <ion-input type="text" class="input-white" formControlName="lastName"
                           [(ngModel)]="user.profile.lastname"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.lastName.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.lastName }}
            </div>
            <ion-item>
                <ion-label floating>Straße und Hausnummer</ion-label>
                <ion-input type="text" class="input-white" formControlName="address"
                           [(ngModel)]="user.profile.address"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.address.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.address }}
            </div>
            <ion-item>
                <ion-label floating>Postleitzahl</ion-label>
                <ion-input type="tel" class="input-white" formControlName="postalCode"
                           [(ngModel)]="user.profile.postalCode"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.postalCode.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.postalCode }}
                <ion-icon name="ios-help-circle-outline" item-right (click)="showHelp('postalCode')"></ion-icon>
            </div>
            <ion-item>
                <ion-label floating>Stadt</ion-label>
                <ion-input type="text" class="input-white" formControlName="city"
                           [(ngModel)]="user.profile.city"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.city.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.city }}
            </div>
            <ion-item>
                <ion-label>Land</ion-label>
            </ion-item>
            <ion-item>
                <ion-select formControlName="country"
                            [(ngModel)]="user.profile.country"
                            multiple="false"
                            class="select-multiline input-white"
                            placeholder="Bitte wählen ..."
                            cancelText="Abbrechen" okText="OK"
                >
                    <ion-option value="de" selected="true">Deutschland</ion-option>
                </ion-select>
            </ion-item>
            <ion-item text-wrap id="operator-vat-item">
                <ion-checkbox color="light" checked="false"
                    formControlName="businessUser"
                    [(ngModel)]="user.profile.operatorVat">
                </ion-checkbox>
                <ion-label>Ich bin ein kommerzieller Anbieter</ion-label>
                <ion-icon name="ios-help-circle-outline" item-right (click)="showHelp('operatorVat')"></ion-icon>
            </ion-item>
            <ion-item *ngIf="user.profile.operatorVat">
                <ion-label floating>Steuernummer</ion-label>
                <ion-input type="text" class="input-white" formControlName="taxNumber"
                           [(ngModel)]="user.profile.operatorVatID"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.country.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.country }}
            </div>
        </ion-list>
        <div padding text-center>
            <button type="submit" ion-button round text-uppercase="">Speichern</button>
        </div>
    </form>

</ion-content>