<ion-header class="transparent">

    <ion-navbar>
        <ion-title></ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding fullscreen>
    <ion-grid class="fullpage" *ngIf="!auth.loggedIn()">
        <ion-row>
            <ion-col>
                <div text-center id="logoContainer">
                    <img src="assets/images/sc-logo-white.png">
                </div>

                <h6 class="blockchain"> Electric Vehicle Charging enabled by Blockchain technology </h6>
                <!-- text above not vissible yet -->

                <div *ngIf="error" class="alert-box alert-box-danger alert-box-bg-light" margin>{{ error | translate}}
                </div>

            <!-- signup/login buttons -->
                <form [formGroup]="signUpLoginForm" (ngSubmit)="submitForm()" #f="ngForm">
                    <div id="signUpLoginTabs" text-uppercase>
                        <ion-segment color="primary" [(ngModel)]="action" [ngModelOptions]="{standalone: true}" (ngModelChange)="switchTabs()" padding>
                            <ion-segment-button value="signUp">
                                {{'login.register' | translate}}
                            </ion-segment-button>
                            <ion-segment-button value="login">
                                {{'login.login' | translate}}
                            </ion-segment-button>
                        </ion-segment>
                    </div>
            <!-- firstname and lastname -->
                    <div *ngIf="action=='signUp'">
                        <div padding="" >
                            <ion-item no-lines class="no-margin">
                                <ion-input
                                    tabindex="0" 
                                    type="text" 
                                    formControlName="firstname" 
                                    [(ngModel)]="signUpLoginObject.firstname" 
                                    name="firstname"
                                    placeholder="{{'login.first_name' | translate}}">
                                </ion-input>
                            </ion-item>
                        </div>

                        <div padding="" >
                            <ion-item no-lines class="no-margin">
                                <ion-input 
                                    tabindex="1"
                                    type="text" 
                                    formControlName="lastname" 
                                    [(ngModel)]="signUpLoginObject.lastname" 
                                    name="lastname" 
                                    placeholder="{{'login.last_name' | translate}}">
                                </ion-input>
                            </ion-item>
                        </div>

                    </div>
            <!-- email input -->
                    <div padding="">
                        <ion-item  no-lines class="no-margin">
                            <ion-input 
                                tabindex="2"
                                type="email" 
                                formControlName="email" 
                                [(ngModel)]="signUpLoginObject.email" 
                                name="email" 
                                placeholder="{{'login.email' | translate}}">
                            </ion-input>
                        </ion-item>
                    </div>
                    <div *ngIf="!signUpLoginForm.controls.email.valid && submitAttempt" class="alert-box alert-box-danger alert-box-bg-light"
                        margin>
                        {{ errorMessages.email }}
                    </div>
            <!-- repeat email input -->
                    <div *ngIf="action=='signUp'">
                        
                        <div padding="">
                            <ion-item no-lines class="no-margin">
                                <ion-input 
                                    tabindex="3"
                                    type="email" 
                                    formControlName="repeatEmail" 
                                    [(ngModel)]="signUpLoginObject.repeatEmail" 
                                    name="repeatEmail" 
                                    placeholder="{{'login.repeat_email' | translate}}">
                                </ion-input>
                            </ion-item>
                        </div>
                        <div *ngIf="!signUpLoginForm.controls.repeatEmail.valid && submitAttempt" class="alert-box alert-box-danger alert-box-bg-light"
                            margin>
                            {{ errorMessages.repeat_error }}
                        </div>

                    </div>
            <!-- password input -->
                    <div padding="">
                        <ion-item no-lines class="no-margin">
                            <ion-input 
                                tabindex="4"
                                type="password" 
                                formControlName="password" 
                                [(ngModel)]="signUpLoginObject.authentification.password" 
                                name="password"
                                placeholder="{{'login.password' | translate}}">
                            </ion-input>
                        </ion-item>
                    </div>
                    <div *ngIf="!signUpLoginForm.controls.password.valid && submitAttempt" class="alert-box alert-box-danger alert-box-bg-light"
                        margin>
                        {{ errorMessages.password }}
                    </div>

            <!-- terms and conditions checkbox -->
                    <div *ngIf="action=='signUp'">
                        <ion-list no-lines class="list-tac">
                            <ion-item text-wrap class="item-partial-cover-cb">
                                <ion-checkbox
                                    tabindex="5" 
                                    color="light" 
                                    checked="false" 
                                    formControlName="terms" 
                                    [(ngModel)]="termsAccept" 
                                    name="termsAccept">
                                </ion-checkbox>
                                <ion-label>
                                    {{'login.terms' | translate}}
                                </ion-label>
                            </ion-item>
                        </ion-list>
                        <div *ngIf="!signUpLoginForm.controls.terms.valid && submitAttempt" class="alert-box alert-box-danger alert-box-bg-light"
                            margin>
                            {{ errorMessages.terms }}
                        </div>
                    </div>
                    <div padding="" text-center="">
                        <p>
                            <button ion-button round color="white" type="submit" text-uppercase="">
                                {{buttonText[action]}}
                            </button>
                        </p>
                    </div>
                </form>
                <h6 *ngIf="action=='login'" id ="learnMore"  (click)="intro()"> Learn more</h6>
            </ion-col>


        </ion-row>
    </ion-grid>


    <ion-grid class="fullpage" *ngIf="auth.loggedIn()">

    </ion-grid>
</ion-content>