<ion-header class="transparent">

    <ion-navbar>
        <ion-title></ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding fullscreen>
    <ion-grid class="fullpage" *ngIf="!auth.loggedIn()">
        <ion-row>
            <ion-col>
                <div text-center id="logoContainer">
                    <img src="assets/icons/chargefuel.png">
                </div>

                <h6 class="blockchain"> Electric Vehicle Charging Enabled by blockchain technology </h6>
                <!-- text above not vissible yet -->

                <div *ngIf="error" class="alert-box alert-box-danger alert-box-bg-light" margin>{{ error | translate}}
                </div>

                <form [formGroup]="signUpLoginForm" (ngSubmit)="submitForm()">
                    <div id="signUpLoginTabs" text-uppercase>
                        <ion-segment color="primary" [(ngModel)]="action" [ngModelOptions]="{standalone: true}" (ngModelChange)="switchTabs()" padding>
                            <ion-segment-button value="signUp">
                                {{'login.register' | translate}}
                            </ion-segment-button>
                            <ion-segment-button value="login">
                                {{'login.login' | translate}}
                            </ion-segment-button>
                        </ion-segment>
                    </div>

                    <div *ngIf="action=='signUp'">
                        <div padding="" >
                            <ion-item no-lines class="no-margin">
                                <ion-input tabindex=1 type="text" formControlName="firstname" [(ngModel)]="signUpLoginObject.firstname" name="firstname"
                                    placeholder="{{'login.first_name' | translate}}"></ion-input>
                            </ion-item>
                        </div>
                        <!-- <div class="alert-box alert-box-danger alert-box-bg-light"
                            margin>
                            {{'Please insert first name'}}
                        </div> -->
                        <div padding="" >
                            <ion-item no-lines class="no-margin">
                                <ion-input tabindex=2 type="text" formControlName="lastname" [(ngModel)]="signUpLoginObject.lastname" name="lastname" placeholder="{{'login.last_name' | translate}}"></ion-input>
                            </ion-item>
                        </div>
                        <!-- <div class="alert-box alert-box-danger alert-box-bg-light"
                            margin>
                            {{'Please insert last name'}}
                        </div> -->
                        <div padding="" >
                            <ion-item no-lines class="no-margin">
                                <ion-input tabindex=3 type="text" formControlName="street" [(ngModel)]="signUpLoginObject.street" name="street" placeholder="{{'login.street' | translate}}"></ion-input>
                            </ion-item>
                        </div>
                        <!-- <div class="alert-box alert-box-danger alert-box-bg-light"
                            margin>
                            {{'Please insert street'}}
                        </div> -->
                        <div padding="">
                            <ion-row>
                                <ion-item id="street" no-lines class="no-margin">
                                    <ion-input tabindex=4 type="text" formControlName="city" [(ngModel)]="signUpLoginObject.city" name="city" placeholder="{{'login.city' | translate}}"></ion-input>
                                </ion-item>
                                <ion-item id="zipcode" no-lines class="no-margin">
                                    <ion-input tabindex=5 type="text" formControlName="zipcode" [(ngModel)]="signUpLoginObject.zipcode" name="zipcode" placeholder="{{'login.zip_code' | translate}}"></ion-input>
                                </ion-item>
                            </ion-row>
                        </div>
                        <!-- <div class="alert-box alert-box-danger alert-box-bg-light"
                            margin>
                            {{'Please insert zipcode'}}
                        </div> -->
                        <!-- <div class="alert-box alert-box-danger alert-box-bg-light"
                            margin>
                            {{'Please insert city'}}
                        </div> -->

                    </div>

                    <div padding="">
                        <ion-item no-lines class="no-margin">
                            <ion-input type="email" formControlName="email" [(ngModel)]="signUpLoginObject.email" name="email" placeholder="{{'login.email' | translate}}"></ion-input>
                        </ion-item>
                    </div>
                    <div *ngIf="!signUpLoginForm.controls.email.valid && submitAttempt" class="alert-box alert-box-danger alert-box-bg-light"
                        margin>
                        {{ errorMessages.email }}
                    </div>
                    <div padding="">
                        <ion-item no-lines class="no-margin">
                            <ion-input type="password" formControlName="password" [(ngModel)]="signUpLoginObject.authentification.password" name="password"
                                placeholder="{{'login.password' | translate}}"></ion-input>
                        </ion-item>
                    </div>
                    <div *ngIf="!signUpLoginForm.controls.password.valid && submitAttempt" class="alert-box alert-box-danger alert-box-bg-light"
                        margin>
                        {{ errorMessages.password }}
                    </div>

                    <div *ngIf="action=='signUp'">
                        <div padding="">
                            <ion-item no-lines class="no-margin">
                                <ion-input tabindex=7 type="text" formControlName="phone" [(ngModel)]="signUpLoginObject.phone" name="phone" placeholder="{{'login.phone' | translate}}"></ion-input>
                            </ion-item>
                        </div>
                        <!-- <div *ngIf="!signUpLoginForm.controls.phone.valid && submitAttempt" class="alert-box alert-box-danger alert-box-bg-light"
                            margin>
                            {{'Please insert phone'}}
                        </div> -->
                    </div>

                    <div *ngIf="action=='login'">
                        <!-- <ion-list no-lines class="list-pwd"> -->
                        <!-- <ion-item>
                                    <ion-label>
                                        <a color="light" (click)="forgotPassword()">
                                            <ion-icon name="ios-help-circle"></ion-icon>
                                            <span>{{'login.forgot_password' | translate}}?</span>
                                        </a>
                                    </ion-label>
                                </ion-item> -->
                        <!-- </ion-list> -->
                    </div>

                    <div *ngIf="action=='signUp'">
                        <ion-list no-lines class="list-tac">
                            <!-- <ion-item text-wrap>
                                    <ion-checkbox color="light" checked="false"
                                                  formControlName="newsletter"
                                                  [(ngModel)]="signUpLoginObject.profile.newsletter" name="newsletter">
                                    </ion-checkbox>
                                    <ion-label>
                                        {{'login.newsletter' | translate}}
                                    </ion-label>
                                </ion-item> -->
                            <ion-item text-wrap class="item-partial-cover-cb">
                                <ion-checkbox color="light" checked="false" formControlName="terms" [(ngModel)]="termsAccept" name="termsAccept">
                                </ion-checkbox>
                                <ion-label>
                                    {{'login.terms' | translate}}
                                </ion-label>
                            </ion-item>
                        </ion-list>
                        <div *ngIf="!signUpLoginForm.controls.terms.valid && submitAttempt" class="alert-box alert-box-danger alert-box-bg-light"
                            margin>
                            {{ errorMessages.terms }}
                        </div>
                    </div>
                    <div padding="" text-center="">
                        <p>
                            <button ion-button round color="white" type="submit" text-uppercase="">
                                {{buttonText[action]}}
                            </button>
                        </p>
                    </div>
                </form>
                <h6 id ="learnMore"  (click)="intro()"> Learn more</h6>
            </ion-col>


        </ion-row>
    </ion-grid>


    <ion-grid class="fullpage" *ngIf="auth.loggedIn()">

    </ion-grid>
</ion-content>