<ion-header class="transparent">

    <ion-navbar>
        <ion-title></ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding fullscreen>
    <ion-grid class="fullpage" *ngIf="!auth.loggedIn()">
        <ion-row>
            <ion-col>
                <div text-center id="logoContainer">
                    <img src="assets/images/sc-logo-white.png">
                </div>

                <div *ngIf="error" class="alert-box alert-box-danger alert-box-bg-light" margin>{{ error | translate}}
                </div>

                <form [formGroup]="signUpLoginForm" (ngSubmit)="submitForm()">
                    <div id="signUpLoginTabs" text-uppercase>
                        <ion-segment color="primary" [(ngModel)]="action" [ngModelOptions]="{standalone: true}"
                                     (ngModelChange)="switchTabs()" padding>
                            <ion-segment-button value="signUp">
                                {{'login.register' | translate}}
                            </ion-segment-button>
                            <ion-segment-button value="login">
                                {{'login.login' | translate}}
                            </ion-segment-button>
                        </ion-segment>
                    </div>

                    <div padding="">
                        <ion-item no-lines class="no-margin item-full-width">
                            <ion-input type="email"
                                       formControlName="email"
                                       [(ngModel)]="signUpLoginObject.email" name="email"
                                       placeholder="{{'login.email' | translate}}"></ion-input>
                        </ion-item>
                    </div>
                    <div *ngIf="!signUpLoginForm.controls.email.valid && submitAttempt"
                         class="alert-box alert-box-danger alert-box-bg-light" margin>
                        {{ errorMessages.email }}
                    </div>
                    <div padding="">
                        <ion-item no-lines class="no-margin item-full-width">
                            <ion-input type="password"
                                       formControlName="password"
                                       [(ngModel)]="signUpLoginObject.authentification.password" name="password"
                                       placeholder="{{'login.password' | translate}}"></ion-input>
                        </ion-item>
                    </div>

                    <div *ngIf="isSignup()" class="padding-left-right">
                        <password-strength-bar [password]="signUpLoginObject.authentification.password" (change)="strengthChange($event)"></password-strength-bar>
                    </div>

                    <div *ngIf="!submitAttempt" class="alert-box info-text">
                        {{'login.password_complexity' | translate}}
                    </div>
                    <div *ngIf="!signUpLoginForm.controls.password.valid && submitAttempt"
                         class="alert-box alert-box-danger alert-box-bg-light" margin>
                        {{ errorMessages.password }}
                    </div>

                    <div *ngIf="isLogin()">
                        <ion-list no-lines class="list-pwd">
                            <ion-item>
                                <ion-label>
                                    <a color="light" (click)="forgotPassword()">
                                        <ion-icon name="ios-help-circle"></ion-icon>
                                        <span>{{'login.forgot_password' | translate}}?</span>
                                    </a>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </div>

                    <div *ngIf="isSignup()">
                        <ion-list no-lines class="list-tac">
                            <ion-item text-wrap>
                                <ion-checkbox color="light" checked="false"
                                              formControlName="newsletter"
                                              [(ngModel)]="signUpLoginObject.profile.newsletter" name="newsletter">
                                </ion-checkbox>
                                <ion-label>
                                    {{'login.newsletter' | translate}}
                                </ion-label>
                            </ion-item>
                            <ion-item text-wrap class="item-partial-cover-cb">
                                <ion-checkbox color="light" checked="false"
                                              formControlName="terms"
                                              [(ngModel)]="termsAccept" name="termsAccept">
                                </ion-checkbox>
                                <ion-label>
                                    {{'login.terms_1' | translate}}<a ion-text="" color="light" (click)="openTerms()">{{'login.terms_2' | translate}}</a>
                                    {{'login.terms_3' | translate}}<a ion-text="" color="light" (click)="openDataProtection()">{{'login.terms_4' | translate}}</a>
                                    {{'login.terms_5' | translate}}
                                </ion-label>
                            </ion-item>
                        </ion-list>
                        <div *ngIf="!signUpLoginForm.controls.terms.valid && submitAttempt"
                             class="alert-box alert-box-danger alert-box-bg-light" margin>
                            {{ errorMessages.terms }}
                        </div>
                    </div>
                    <div padding="" text-center="">
                        <p>
                            <button ion-button round color="white" type="submit" text-uppercase="">
                                {{buttonText[action]}}
                            </button>
                        </p>
                    </div>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid class="fullpage" *ngIf="auth.loggedIn()">

    </ion-grid>
</ion-content>
