<ion-header>

    <ion-navbar>
        <ion-title>{{ 'profile.data.data' | translate }}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div class="top-container" padding="" text-center="">
        <!-- <button class="image-button filled" (click)="selectPhoto()" *ngIf="user.hasImage()"
                [ngStyle]="{'background-image':'url(' + user.profile.imageBase64 + ')'}">
        </button>
        <button class="image-button" (click)="selectPhoto()" *ngIf="!user.hasImage()">
            <span><ion-icon name="cust-add-photo"></ion-icon></span>
        </button> -->
        <div>
            <strong>{{user.email}}</strong>
        </div>
    </div>

    <ion-list padding-top="" padding-right="" class="no-outer-lines">
        <button ion-item (click)="editProfile()">
            {{'profile.data.name_address' | translate}}
        </button>
        <!-- <button ion-item (click)="editEmail()">
            {{ 'profile.data.email_adresse' | translate }}
        </button> -->
        <!-- <button ion-item (click)="editPassword()">
            {{ 'profile.data.change_password' | translate }}
        </button> -->
        <!-- <button ion-item (click)="resendVerificationEmail()" *ngIf="!user.isEmailVerified()">
            {{ 'profile.data.resend_confirmation' | translate }}
        </button> -->
        <button ion-item (click)="changeLanguage()">
            {{ 'profile.data.change_language' | translate }}
        </button>
        <!-- <button ion-item (click)="deleteAccountConfirm()" class="color-secondary">
            {{ 'profile.data.delete_profile' | translate }}
        </button> -->
    </ion-list>
</ion-content>  
