page-map {
  .list-view .marker {
    width: 20px;
    vertical-align: bottom;
  }
}
#map {
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQoU2NkIAK8e/fuPyMR6hhGFeINJXDwgAhiwhIAOZAl5YYZd5AAAAAASUVORK5CYII=) repeat;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

ion-fab button {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
}

.bar-button-large {
  font-size: 2.2rem;
}

.button-add-car {
  background-color: #fff;
  color: map_get($colors, primary);
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
  &.fab ion-icon {
    font-size: 4.2rem;
  }
  &.activated {
    color: #fff;
  }
}

.platform-ios .button-add-car img {
  max-width: 130%; // @TODO ugly, temp iPhone fix
}

#searchResults {
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

#mapCenterUI, #mapFilterUI {
  position: relative;
  background-color: map-get($colors, primary);
  border: 1px solid map-get($colors, primary);

  //background-color: #fff;
  //box-shadow: 0 0 6px 1px rgba(0,0,0,.3);

  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 2px;
}

#mapCenterUI {
  border-radius: 28px 0 0 28px;
  right: 0;
}

#mapFilterUI {
  left: -3px;
  border-radius: 0 28px 28px 0;
  border-left-color: rgba(255, 255, 255, 0.3);
}

#mapCenterText, #mapFilterText {
  color: #fff;
  //color: map-get($colors, primary);

  font-family: Roboto, Arial, sans-serif;
  font-size: 2.2rem;
  line-height: 25px;
  padding: 6px 20px 4px;
}

#mapFilterUI.active::after {
  content: "!";
  background-color: map-get($colors, green);
  position: absolute;
  top: -9px;
  right: -5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button-right {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -14px;
  button {
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
    color: #8c8c8c;
    background-color: #fff;
    font-size: 28px;
    border-radius: 2px;
  }
}

#currentPosition {
  background-color: white;
  height: 20px !important;
  width: 20px !important;
  border-radius: 50%;
  position: absolute !important;
  display: block;
  box-sizing: border-box;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);

  &:before {
    animation: pulse 2s ease-out infinite;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: map_get($colors, 'secondary');
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    box-sizing: border-box;
  }

  &:after {
    animation: pulse2 2.5s ease-out infinite;
    background-color: map_get($colors, 'secondary');
    width: 14px;
    height: 14px;
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
  }

  @keyframes pulse {
    from {
      transform: scale(1, 1);
      opacity: .3;
      z-index: -1;
    }

    to {
      transform: scale(3,3);
      opacity: 0;
      z-index: -1;
    }
  }

  @keyframes pulse2 {
    0%, 100% {
      transform: scale(1, 1);
      opacity: 1;
    }

    50% {
      transform: scale(.8, .8);
      opacity: .8;
    }
  }
}

