<ion-header>
    <ion-navbar *ngIf="!searchMode">
        <ion-buttons start>
            <button ion-button (click)="setSearchMode(true)" large>
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
        <!-- heads up: the page title is re-set in ionViewDidEnter; see comment there -->
        <ion-title>{{ 'map.title'|translate }}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="mapSettingsOpen()" large>
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-navbar *ngIf="searchMode">
        <ion-searchbar debounce="500" #searchInput [showCancelButton]="true" (ionInput)="updateSearch($event)" (ionCancel)="setSearchMode(false)" [cancelButtonText]="'common.cancel'|translate" [placeholder]="'map.search_placeholder'|translate" animated="true"></ion-searchbar>
    </ion-navbar>
    <charging-progress-bar></charging-progress-bar>
</ion-header>

<ion-content>
    <ion-fab top right *ngIf="!hasCars()">
        <button ion-fab (click)="addCarModal()" class="button-add-car">
            <ion-icon name="cust-add-car"></ion-icon>
        </button>
    </ion-fab>

    <ion-fab top right *ngIf="hasCars() && !isCharging" #fabCar>
        <button ion-fab class="fab-image">
            <span class="image-wrapper">
                <img [ngStyle]="{'background-image':'url(' + activeCar.displayImageSrc + ')'}">
            </span>
        </button>
        <ion-fab-list side="bottom">
            <button ion-fab *ngFor="let car of cars" class="fab-image" (click)="setActiveCar(car, fabCar)">
                <span class="image-wrapper">
                    <img [ngStyle]="{'background-image':'url(' + car.displayImageSrc + ')'}">
                </span>
            </button>
            <button ion-fab (click)="gotoMyCars(fabCar)">
                <ion-icon name="ios-car"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>

    <ion-list id="searchResults" *ngIf="autocompleteItems.length > 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
            <ion-icon name="pin" item-left></ion-icon>
            {{ item.description }}
        </ion-item>
    </ion-list>

    <ion-list [hidden]="viewType == 'map'" class="list-view">
        <ion-item *ngFor="let location of visibleLocations" (click)="showLocationDetails(location)">
            <img src="assets/icons/marker/{{locationService.isBusy(location) ? 'busy.png' : 'available.png'}}" class="marker">
            {{location.address}}
        </ion-item>
    </ion-list>

    <div class="map-container" [hidden]="viewType == 'list'">
        <div #map id="map">
        </div>
    </div>

</ion-content>
