.button { // otherwise we're not specific enough
  &.button-google {
    background-color: map_get($brand-color, google);
  }
  &.button-facebook {
    background-color: map_get($brand-color, facebook);
  }
  &.button-twitter {
    background-color: map_get($brand-color, twitter);
  }
  &.button-microsoft {
    background-color: map_get($brand-color, microsoft);
  }

  &.button-ios-white, &.button-md-white {
    background-color: #fff;
    color: map_get($colors, primary);
  }


}
button {
  &.fab-ios-white, &.fab-md-white {
    background-color: #fff;
    color: map_get($colors, primary);
  }
}


.button-shadow {
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}