.content-white {
  &.content-ios, &.content-md {
    background-color: #fff;
  }
}

.background-color-white {
  background-color: #fff;
}

.color-secondary, .item.color-secondary {
  color: map_get($colors, secondary);
}