
.cloned-input {
  // While an input is focused and the screen scrolled, ionic creates a clone of the input.
  // This clone is misaligned due to the margin. Don't know why, bug?
  margin-left: 0 !important;
}

.item-input ion-label {
  color: #666;
  .input-has-value &, .input-has-focus & {
    //color: #000;
  }
}

.label.label-ios[floating],
.label.label-md[floating] {
  transform: translate3d(14px, 39px, 0);
}

.input-white .text-input, ion-select.input-white {
  background-color: #fff;
  padding: 10px 14px;
  border-radius: $border-radius;
}

ion-select.input-white.small {
  padding: 8px;
}

ion-select {
  &.select-multiline {
    max-width: calc(100% - 8px);
    width: calc(100% - 8px);
    .select-text {
      white-space: normal;
    }
  }
}

.alert-checkbox-label {
  font-size: 17px;
}

$_input_box_width: 100px;
.input-box {
  text-align: center;
  margin-top: 20px;
  ion-input {
    display: inline-block;
    width: $_input_box_width;
    background-color: map_get($colors, light);
    font-size: 20px;
    border-radius: 4px;
    input {
      text-align: center;
      padding: 10px !important; // jaja, just not to need to overwrite it for _all_ devices
      margin: 0 !important;
    }
  }
}

.input-box-inner {
  display: inline-block;
  position: relative;
  label {
    position: absolute;
    left: $_input_box_width + 10;
    top: 14px;
    font-size: 16px;
  }
}

.item-ios .button-pull-left.item-button,
.item-ios .button-pull-left.item-button[icon-only] {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 14px;
  font-size: inherit;
}