ion-header {
  //@TODO for now we need the header to overlay the fab, for charging progress
  z-index: 99999;
}

ion-header.transparent {
  .toolbar .toolbar-background,
  .toolbar-background-ios {
    background: transparent;
    border-color: transparent;
  }
  &.header-md::after {
    display: none;
  }
}

