ion-item.item-ios {
  $_size: 3.6rem;
  ion-thumbnail.thumbnail-small img  {
    max-width: $_size;
    max-height: $_size;
  }
  ion-thumbnail {
    min-width: $_size;
    min-height: $_size;
  }
}

.item-partial-cover .item-cover {
  // to be able to have a clickable icon on the right
  width: 80%;
}

.ion-list-white {
  ion-item {
    background-color: #fff;
  }
}

.lines-inner-bottom {
  .item-inner {
    border-bottom: .55px solid #000 !important;
  }
}