ion-item.item-ios {
  $_size: 3.6rem;
  ion-thumbnail.thumbnail-small img  {
    max-width: $_size;
    max-height: $_size;
  }
  ion-thumbnail {
    min-width: $_size;
    min-height: $_size;
  }
}

 // to be able to have a clickable icon on the right
.item-partial-cover .item-cover,
.item-partial-cover-80 .item-cover {
  width: 80%;
}
.item-partial-cover-70 .item-cover {
  width: 70%;
}

.item-partial-cover-cb .item-cover {
  // should be the size of the checkbox
  width: 50px;
}

ion-list.no-margin-bottom {
  margin-bottom: 0;
}

.inline-list {
  display: inline-block;
}

.ion-list-white {
  ion-item {
    background-color: #fff;
  }
}

.item-md.item-input {
  box-shadow: none !important;

  .item-inner {
    box-shadow: none !important;
  }
}

.lines-inner-bottom {
  .item-inner {
    border-bottom: .55px solid #000 !important;
  }
}

.no-outer-lines {
  &.list-ios > .item-block:last-child,
  &.list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none;
  }
  &.list-ios > .item-block:first-child,
  &.list-ios > .item-wrapper:first-child .item-block {
    border-top: none;
  }
}