.margin-right-xs {
    margin-right: $content-margin/4;
}

.margin-bottom-xl {
    margin-bottom: $content-margin*4;
}

.text-line-wrap {
    white-space: pre-line;
}

.padding-left-right {
    padding-left: $content-padding;
    padding-right: $content-padding;
}