/**
* copy this file to config.ts and adjust values to your needs
*/
export let CONFIG = {
    APP_VERSION: '1.0.0',
    API_URL: 'https://api-test.shareandcharge.com/v1',
    IMAGES_BASE_URL: 'https://api.shareandcharge.com',
    API_KEY: {
        param: 'apikey',
        name: 'iosapp',
        secret: 'secret'
    },
    FAQ_URL: 'https://shareandcharge.com/faqs/',
    CONTACT_EMAIL: 'info@shareandcharge.com',
    MIXPANEL_TOKEN: '2e9e....',
    TERMS_APP_URL: 'https://www.shareandcharge.com/app-agbs/',
    TERMS_STATION_URL: 'https://www.shareandcharge.com/ladestation-agbs/',
    DATA_PROTECTION_URL: 'https://www.shareandcharge.com/app-datenschutz/'
};