/**
* copy this file to config.ts and adjust values to your needs
*/
export let CONFIG = {
    APP_VERSION: '1.0.714',
    API_URL: 'https://api-staging.shareandcharge.com/v1',
    IMAGES_BASE_URL: 'https://api-staging.shareandcharge.com',
    API_KEY: {
        param: 'noapikey',
        //was 'iosapp'
        name: '{SC_APP_NAME}',
        secret: '{SC_APP_SECRET}'
    },
    CONTACT_EMAIL: 'info@shareandcharge.com',
    MIXPANEL_TOKEN: '2e9e....',
    ALLOWED_COUNTRIES: ['DE', 'NL', 'US'], // use alpha2 codes from iso 3166-1 (https://en.wikipedia.org/wiki/ISO_3166-1#Current_codes)
    FEATURE_TOGGLES: {
        usd_pilot: true,
        hide_commercial_option: true,
        show_juicebox_config: true,
        hide_payment: true,
        hide_sc_module: true,
        show_kwh_tariff: false
    }
};
