<ion-header>

    <ion-navbar>
        <ion-title>My Cars</ion-title>
        <ion-buttons end>
            <button ion-button (click)="addCar()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngFor="let car of cars" (click)="editCar(car)">
            <ion-avatar item-left class="car-image">
                <img *ngIf="car.hasImage()" [ngStyle]="{'background-image':'url(' + car.imageBase64 + ')'}">
                <div *ngIf="!car.hasImage()" class="car-default"><ion-icon name="ios-car"></ion-icon></div>
            </ion-avatar>
            <h2>{{car.plateNumber}}</h2>
            <h3>{{car.manufacturer}} {{car.model}}</h3>
        </ion-item>
    </ion-list>


</ion-content>
