<ion-header>

    <ion-navbar>

        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>{{'wallet.detail_view' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-grid class="detailGrid" *ngIf="transaction.isPayOut() || transaction.isPayIn()">
        <ion-row>
            <ion-col>
                <ion-label>{{'wallet.amount' | translate}}</ion-label>
                {{transaction.amount  | currencyDisplay }}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>{{'wallet.pay_method' | translate}}</ion-label>
                {{paymentMethods[transaction.order.type]}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>{{'wallet.date' | translate}}</ion-label>
                {{transaction.getTimestamp() | date:'short'}}
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isResumableTx()">
          <ion-col>
            <button ion-button round (click)="resumePaymentProcess()" text-uppercase block>{{'common.resume' | translate}}</button>
          </ion-col>
          <ion-col *ngIf="!isSofortTx()">
            <button ion-button round (click)="cancelPaymentProcess()" text-uppercase block [ngStyle]="{'background-color': '#A46EF1'}">{{'common.remove' | translate}}</button>
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="detailGrid" *ngIf="transaction.isVoucher()">
        <ion-row>
            <ion-col>
                <ion-label>{{'wallet.amount' | translate}}</ion-label>
                {{transaction.amount  | currencyDisplay }}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>{{'wallet.pay_method' | translate}}</ion-label>
                Gutschein
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>{{'wallet.date' | translate}}</ion-label>
                {{transaction.getTimestamp() | date:'short'}}
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid class="detailGrid" *ngIf="transaction.isSend() || transaction.isReceived()">
        <ion-row *ngIf="transaction.receipt.loc_name != ''">
            <ion-col>
                <ion-label>{{'wallet.name_charging_station' | translate}}</ion-label>
                {{transaction.receipt.loc_name}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>{{'wallet.address_charging_station' | translate}}</ion-label>
                {{transaction.receipt.loc_address}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>{{'wallet.date' | translate}}</ion-label>
                {{transaction.getTimestamp() | date:'short'}}
            </ion-col>
            <ion-col>
                <ion-label>{{'wallet.tariff_charging_station' | translate}}</ion-label>
                {{priceProviderTariffTypes[transaction.receipt.contracttype]}}, {{getTariffCosts(transaction.receipt.contracttype)}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label>{{'wallet.duration' | translate}}</ion-label>
                {{makeTimeString(transaction.receipt.seconds)}}
            </ion-col>
            <ion-col *ngIf="transaction.receipt.contracttype==3">
                <ion-label>{{'wallet.power' | translate}}</ion-label>
                {{transaction.receipt.watt / 1000}} kWh
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngIf="transaction.isReceived()">
                <ion-label>{{'wallet.charging_cost' | translate}}</ion-label>
                {{transaction.amount  | currencyDisplay }} + {{transaction.receipt.feeamount  | currencyDisplay }} {{ 'wallet.sanc_fee' | translate }}
            </ion-col>
            <ion-col *ngIf="transaction.isSend()">
                <ion-label>{{'wallet.charging_cost' | translate}}</ion-label>
                {{(transaction.amount)  | currencyDisplay }} (inkl. {{transaction.receipt.feeamount  | currencyDisplay }} {{ 'wallet.sanc_fee' | translate }}) <ng-container *ngIf="transaction.receipt.owner_profile.operatorVat">{{ 'location.charging.tax' | translate }}</ng-container>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="transaction.receipt.invoice">
            <ion-col>
                <ion-label>{{'wallet.bill' | translate}}</ion-label>
                <a href="#" (click)="openPdf(transaction.receipt.invoice)">{{'wallet.show_pdf' | translate}}</a>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div id="imageContainer">
        <img src="assets/images/transaction-page.png">
    </div>
</ion-content>
