page-add-image {
    //.image-wrapper {
    //    background-color: #eee;
    //    overflow: hidden;
    //    height: 180px;
    //    img {
    //        width: 100%;
    //        height: auto;
    //    }
    //}

    .add-image-button {
        background-color: white;
        border-radius: 2px;
        width: 100%;
        text-align: center;
        ion-icon {
            font-size: 130px;
            color: #aaa;
        }
    }
}
