<ion-header>
    <ion-navbar>
        <ion-title *ngIf="flowMode=='edit'">{{'station.edit_charging_station' | translate}}</ion-title>
        <ion-title *ngIf="flowMode=='add'">{{'station.add_charging_station' | translate}}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="close()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <progress-bar [progress]="30"></progress-bar>
</ion-header>


<ion-content padding="">
    <ion-list no-lines *ngIf="!images || images.length == 0">
        <ion-item>
            {{'station.add_photo' | translate}}
        </ion-item>
        <ion-item>
            <div class="add-image-button" (click)="presentActionSheet()">
                <ion-icon name="cust-add-photo"></ion-icon>
            </div>
        </ion-item>
    </ion-list>


    <div *ngIf="images && images.length > 0">
        <button ion-button="" block large clear (click)="presentActionSheet()">
            <ion-icon name="cust-add-photo"></ion-icon>
            {{'station.add_photo_2' | translate}}
        </button>
    </div>

    <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
        <ion-item-sliding *ngFor="let img of images" #itemSliding>
            <ion-item>
                <ion-thumbnail item-left class="non-square">
                    <img src="{{getImageSrc(img)}}">
                </ion-thumbnail>
            </ion-item>


            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteImg(img, itemSliding)">{{'common.delete' | translate}}</button>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>

    <div padding text-center>
        <button ion-button round (click)="continueAddStation()" text-uppercase outline block>{{'common.continue' | translate}}</button>
        <button ion-button round *ngIf="flowMode==='edit'" (click)="saveChanges()" text-uppercase block>
            {{'station.save_changes' | translate}}
        </button>
    </div>
</ion-content>
