<ion-header>

    <ion-navbar>
        <ion-title *ngIf="flowMode=='edit'">Ladestation bearbeiten</ion-title>
        <ion-title *ngIf="flowMode=='add'">Ladestation hinzufügen</ion-title>

        <ion-buttons end>
            <button ion-button icon-only="" (click)="skipAddingStation()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <progress-bar [progress]="10"></progress-bar>
</ion-header>


<ion-content>
    <div class="image-wrapper">
        <div #map id="map" (click)="detailedMap()">
        </div>
    </div>
    <div padding="">
        <ion-list no-lines>
            <ion-item>
                <!-- floating label does not work with clearInput (?) -->
                <ion-label stacked>Adresse der Station</ion-label>
                <ion-input type="text" class="input-white" [(ngModel)]="locObject.address" (input)="updateSearch()" clearInput></ion-input>
            </ion-item>
            <div *ngIf="errorMessages.address" class="alert-box alert-box-danger" margin>{{ errorMessages.address }}</div>
            <ion-item>
                <ion-label stacked>Name der Station</ion-label>
                <ion-input type="text" class="input-white" [(ngModel)]="locObject.name" placeholder="Typ 2 am Stadtpark"></ion-input>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItem(item)">
                <ion-icon name="pin" item-left></ion-icon>
                {{ item.description }}
            </ion-item>
        </ion-list>

        <ion-segment color="primary" [(ngModel)]="segmentTabs" padding>
            <ion-segment-button value="default">
                Öffnungszeiten
            </ion-segment-button>
            <ion-segment-button value="custom">
                Anpassen
            </ion-segment-button>
        </ion-segment>


        <ion-list no-lines="" *ngIf="segmentTabs == 'default'">
            <ion-item>
                <ion-label>Von</ion-label>
                <ion-select class="input-white" [(ngModel)]="from" (ngModelChange)="updateSelectedDays()" cancelText="Abbrechen" okText="OK" placeholder="Uhrzeit">
                    <ion-option *ngFor="let t of dayHours" [value]="t.value">{{t.title}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Bis</ion-label>
                <ion-select class="input-white" [(ngModel)]="to" (ngModelChange)="updateSelectedDays()" cancelText="Abbrechen" okText="OK" placeholder="Uhrzeit">
                    <ion-option *ngFor="let t of dayHours" [value]="t.value">{{t.title}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Tage</ion-label>
            </ion-item>
            <ion-item>
                <ion-select multiple="true"
                            [(ngModel)]="weekdays" (ngModelChange)="updateSelectedDays()"
                            [selectOptions]="{title:'Tage wählen'}"
                            class="select-multiline input-white"
                            placeholder="Bitte wählen ..."
                            cancelText="Abbrechen" okText="OK"
                >
                    <ion-option value="0">Montag</ion-option>
                    <ion-option value="1">Dienstag</ion-option>
                    <ion-option value="2">Mittwoch</ion-option>
                    <ion-option value="3">Donnerstag</ion-option>
                    <ion-option value="4">Freitag</ion-option>
                    <ion-option value="5">Samstag</ion-option>
                    <ion-option value="6">Sonntag</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="errorMessages.openingHours" class="alert-box alert-box-danger" margin>{{ errorMessages.openingHours }}</div>
        </ion-list>

        <ion-list no-lines="" *ngIf="segmentTabs == 'custom'">
            <ion-item *ngFor="let day of customWeekCalendar.hours; let i = index;">
                <ion-label>{{days[i]}}</ion-label>
                <ion-checkbox [(ngModel)]="day.from != day.to"></ion-checkbox>
                <ion-select [(ngModel)]="day.from" placeholder="Von" class="input-white small margin-right-xs">
                    <ion-option *ngFor="let t of dayHours" [value]="t.value">{{t.title}}</ion-option>
                </ion-select>

                <ion-select [(ngModel)]="day.to" placeholder="Bis" class="input-white small">
                    <ion-option *ngFor="let t of dayHours" [value]="t.value">{{t.title}}</ion-option>
                </ion-select>
            </ion-item>
            <div *ngIf="errorMessages.openingHours" class="alert-box alert-box-danger" margin>{{ errorMessages.openingHours }}</div>
        </ion-list>

        <ion-list no-lines="">
            <ion-item>
                <ion-label stacked>Problemlöser</ion-label>
                <ion-textarea class="input-white" [(ngModel)]="locObject.metadata.problemSolver" rows="3"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label stacked>Beschreibung</ion-label>
                <ion-textarea class="input-white" [(ngModel)]="locObject.description" rows="3"></ion-textarea>
            </ion-item>
        </ion-list>

        <div padding text-center>
            <button ion-button round (click)="continueAddStation()" text-uppercase>Weiter</button>
        </div>
    </div>
</ion-content>
