<ion-header>

    <ion-navbar>
        <ion-title>Add Station</ion-title>
        <ion-buttons end>
            <button ion-button (click)="skipAddingStation()">
                Skip
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>

                <div class="image-wrapper">

                </div>

                <ion-item no-lines>
                    <ion-label floating>Type Station Address</ion-label>
                    <ion-input type="text" [(ngModel)]="address"></ion-input>
                </ion-item>

                <ion-segment color="primary" [(ngModel)]="segmentTabs" padding>
                    <ion-segment-button value="default">
                        Opening Hours
                    </ion-segment-button>
                    <ion-segment-button value="custom">
                        Customize
                    </ion-segment-button>
                </ion-segment>

                <div  *ngIf="segmentTabs == 'default'" >
                    <ion-item no-lines>
                        <ion-label>From</ion-label>
                        <ion-select [(ngModel)]="from">
                            <ion-option value="9" selected="true">9:00</ion-option>
                            <ion-option value="12">10:00</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item no-lines>
                        <ion-label>To</ion-label>
                        <ion-select [(ngModel)]="to">
                            <ion-option value="9" selected="true">9:00</ion-option>
                            <ion-option value="10">10:00</ion-option>
                        </ion-select>
                    </ion-item>

                    <ion-item no-lines>
                        <ion-label>Days</ion-label>
                        <ion-select multiple="true" [(ngModel)]="weekdays">
                            <ion-option *ngFor="let d of days" [value]="d.text">{{d.text}}</ion-option>
                        </ion-select>
                    </ion-item>
                </div>

                <div  *ngIf="segmentTabs == 'custom'">
                    <ion-item *ngFor="let day of days">
                        <ion-label>{{day.text}}</ion-label>
                        <ion-checkbox [(ngModel)]="day.enabled"></ion-checkbox>
                        <ion-select [(ngModel)]="from">
                            <ion-option value="from" selected="true">From</ion-option>
                            <ion-option *ngFor="let t of dayHours" [value]="t.value">{{t.title}}</ion-option>
                        </ion-select>
                        <ion-select [(ngModel)]="to">
                            <ion-option value="from" selected="true">To</ion-option>
                            <ion-option *ngFor="let t of dayHours" [value]="t.value">{{t.title}}</ion-option>
                        </ion-select>
                    </ion-item>
                </div>


                <ion-item no-lines>
                    <ion-label floating>Descriptions</ion-label>
                    <ion-textarea [(ngModel)]="descriptions"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div>
        <button ion-button (click)="continueAddStation()">Continue</button>
    </div>
</ion-content>
