page-add-station {
    .image-wrapper {
        background-color: #eee;
        overflow: hidden;
        height: 180px;
        img {
            width: 100%;
            height: auto;
        }
    }

    .image-wrapper {
        background-color: #eee;
        overflow: hidden;
        height: 180px;
    }
}

.alert-checkbox-group{
    max-height: 325px !important;
}

.alert-tappable {
    min-height: 40px !important;
    height: 40px;
}