page-add-car {

    .top-container {
        @include sc-gradient-light();

        color: #fff;

        margin-bottom: 16px;

        ion-segment {
            position: absolute;
            left: 32px;
            right: 32px;
            width: auto;
        }

        ion-segment:not(.segment-ios) {
            background-color: #fff;
        }
    }

    .image-button {
        $_button_size: 130px;
        width: $_button_size;
        height: $_button_size;
        display: block;
        overflow: hidden;
        margin: 20px auto 15px auto;
        padding: 16px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.2) no-repeat center center;
        background-size: cover;
        color: inherit;
        font-size: 1.6rem;
        line-height: 2rem;

        &.filled {
            border: 2px solid #fff;
        }

        span {
            font-size: 87px;
        }
    }

    .input-plate {
        background-color: transparent;
        input.text-input {
            @include placeholder(map_get($colors, grey_darker));
            background-color: $background-color;
            padding: 10px 14px;
            margin: 0;
            text-align: center;
            border-radius: $border-radius;
        }
    }
}

.alert-ios .alert-checkbox-icon {
    border-radius: 20%;
}
