<ion-header>

    <ion-navbar>
        <ion-title>Set Tariff</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>


    <ion-list>
        <ion-item>
            <ion-label left>Öffentlicher Tarif</ion-label>
            <ion-toggle [(ngModel)]="togglePublic" (ngModelChange)="changeTogglePublic()"></ion-toggle>
        </ion-item>
        <div padding="true" *ngIf="togglePublic">
            <div *ngIf="flatrateTarif">
                Flatrate Per charge
                <ion-input type="text" [(ngModel)]="energyRate"
                           placeholder="0.00"></ion-input>
                <ion-range min="0" max="20" [(ngModel)]="energyRate" pin="true">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
            </div>

            <div *ngIf="hourlyTarif">
                <ion-segment color="primary" [(ngModel)]="hourlyTarifTabs" padding>
                    <ion-segment-button value="flatrate">
                        Flatrate
                    </ion-segment-button>
                    <ion-segment-button value="hourly">
                        Stündentarif
                    </ion-segment-button>
                </ion-segment>

                <div *ngIf="hourlyTarifTabs == 'flatrate'">
                    Flatrate Per charge
                    <ion-input type="text" [(ngModel)]="energyRate"
                               placeholder="0.00"></ion-input>
                    <ion-range min="0" max="20" [(ngModel)]="energyRate" pin="true">
                        <ion-label range-left>0</ion-label>
                        <ion-label range-right>20</ion-label>
                    </ion-range>
                </div>
                <div *ngIf="hourlyTarifTabs == 'hourly'">
                    Energiekosten
                    <ion-input type="text" [(ngModel)]="hourlyRate"
                               placeholder="0.00"></ion-input>
                    <ion-range min="0" max="20" [(ngModel)]="hourlyRate" pin="true">
                        <ion-label range-left>0</ion-label>
                        <ion-label range-right>20</ion-label>
                    </ion-range>

                    Nutzungsentgel Parken
                    <ion-input type="text" [(ngModel)]="parkRate"
                               placeholder="0.00"></ion-input>
                    <ion-range min="0" max="20" [(ngModel)]="parkRate" pin="true">
                        <ion-label range-left>0</ion-label>
                        <ion-label range-right>20</ion-label>
                    </ion-range>

                    estimated price per hour depends on the battery
                </div>
            </div>

            <div *ngIf="kwhTarif">
                <ion-segment color="primary" [(ngModel)]="kwhTarifTabs" padding>
                    <ion-segment-button value="flatrate">
                        Flatrate
                    </ion-segment-button>
                    <ion-segment-button value="kwh">
                        kWh
                    </ion-segment-button>
                </ion-segment>

                <div *ngIf="kwhTarifTabs == 'flatrate'">
                    Flatrate Per charge
                    <ion-input type="text" [(ngModel)]="energyRate"
                               placeholder="0.00"></ion-input>
                    <ion-range min="0" max="20" [(ngModel)]="energyRate" pin="true">
                        <ion-label range-left>0</ion-label>
                        <ion-label range-right>20</ion-label>
                    </ion-range>
                </div>
                <div *ngIf="kwhTarifTabs == 'kwh'">
                    Energiekosten
                    <ion-input type="text" [(ngModel)]="kwhRate"
                               placeholder="0.00"></ion-input>
                    <ion-range min="0" max="20" [(ngModel)]="kwhRate" pin="true">
                        <ion-label range-left>0</ion-label>
                        <ion-label range-right>20</ion-label>
                    </ion-range>

                    Nutzungsentgel Parken
                    <ion-input type="text" [(ngModel)]="parkRate"
                               placeholder="0.00"></ion-input>
                    <ion-range min="0" max="20" [(ngModel)]="parkRate" pin="true">
                        <ion-label range-left>0</ion-label>
                        <ion-label range-right>20</ion-label>
                    </ion-range>

                    estimated price per hour depends on the battery
                </div>
            </div>
        </div>
        <ion-item>
            <ion-label left>Sondertarif</ion-label>
            <ion-toggle [(ngModel)]="togglePrivate" (ngModelChange)="changeTogglePrivate()"></ion-toggle>
        </ion-item>
        <div padding="true" *ngIf="togglePrivate">
            <ion-label>Permission List({{permissions.length}}) <ion-icon name="menu" (click)="addPermission()"></ion-icon>
            </ion-label>
            Flatrate Per charge
            <ion-input type="text" [(ngModel)]="energyRate"
                       placeholder="0.00"></ion-input>
            <ion-range min="0" max="20" [(ngModel)]="energyRate" pin="true">
                <ion-label range-left>0</ion-label>
                <ion-label range-right>20</ion-label>
            </ion-range>
        </div>
    </ion-list>


    <button ion-button (click)="publish()">{{buttonText}}</button>
    <button *ngIf="flowMode == 'edit'" ion-button (click)="deleteStation()">Delete</button>
</ion-content>
