<ion-header>

    <ion-navbar>
        <ion-title *ngIf="flowMode=='edit'">{{ 'station.edit_charging_station' | translate }}</ion-title>
        <ion-title *ngIf="flowMode=='add'">{{ 'station.add_station' | translate }}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="close()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <progress-bar [progress]="80"></progress-bar>
</ion-header>


<ion-content>

    <p padding="">
        {{ 'station.choose_my_tarif' | translate }}
    </p>

    <form novalidate>


    <ion-list class="ion-list-white" margin-bottom>

      <ion-list class="ion-list-white">
        <ion-item>
            <ion-label left>{{ 'station.community_tarif' | translate }}</ion-label>
            <ion-toggle [(ngModel)]="priceprovider.public.active" color="secondary" [ngModelOptions]="{standalone: true}"></ion-toggle>
        </ion-item>

        <ion-item text-wrap>
          {{ 'station.community_tarif_description' | translate }}
        </ion-item>

      </ion-list>

        <div padding class="content-white tariff-box" *ngIf="priceprovider.public.active">
            <ion-segment color="primary" [(ngModel)]="priceprovider.public.selected" padding *ngIf="hourlyTariff || kwhTariff" [ngModelOptions]="{standalone: true}">
                <ion-segment-button value="flatrate" *ngIf="hourlyTariff || kwhTariff">
                    {{ 'station.flatrate' | translate }}
                </ion-segment-button>
                <ion-segment-button value="hourly" *ngIf="hourlyTariff">
                    {{ 'station.hourly_tarif' | translate }}
                </ion-segment-button>
                <ion-segment-button value="kwh" *ngIf="kwhTariff">
                    {{ 'station.kwh_rate' | translate }}
                </ion-segment-button>
            </ion-segment>


            <div *ngIf="priceprovider.public.selected == 'flatrate'" padding>
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">{{ 'station.flat_rate_per_charge' | translate }}</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('flatrate')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <!-- heads up! if we use type="number" we can't use the number pipe. -->
                        <!-- type="number" <-> localization => not working (stable) -->
                        <ion-input type="number"
                                   [value]="priceprovider.public.flatrate.flatrateRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.public.flatrate, 'flatrateRate')"
                                   placeholder="{{ 'common.empty_currency_value' | translate }}"
                        ></ion-input>
                        <label>{{ (currency) }}</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.public.flatrate.flatrateRate" pin="false">
                    <ion-label range-left>0€</ion-label>
                    <ion-label range-right>20€</ion-label>
                </ion-range>
                -->
            </div>


            <div *ngIf="priceprovider.public.selected == 'hourly'" padding>
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">{{ 'station.your_energy_cost' | translate}} (*)</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('hourly')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.public.hourly.hourlyRate / 100 || ''"
                                   (change)="updatePriceProvider($event, priceprovider.public.hourly, 'hourlyRate', 'publicHourly')"
                                   placeholder="{{ 'common.empty_currency_value' | translate }}"></ion-input>
                        <label>{{ (currency) }}/kWh</label>
                    </div>
                </div>
                <p>
                    <small>
                        (*) {{ 'station.kwh_notice' | translate }}
                    </small>
                </p>
                <!--
                <ion-range min="0" max="100" [(ngModel)]="priceprovider.public.hourly.hourlyRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('publicHourly')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>1</ion-label>
                </ion-range>
                -->

                <hr>

                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">{{ 'station.park_cost' | translate }}</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('parking')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.public.hourly.parkRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.public.hourly, 'parkRate', 'publicHourly')"
                                   placeholder="{{ 'common.empty_currency_value' | translate }}"></ion-input>
                        <label>{{ (currency) }}/h</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.public.hourly.parkRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('publicHourly')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
                -->
            </div>


            <div *ngIf="priceprovider.public.selected == 'kwh'">
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">{{ 'station.your_energy_cost' | translate }}</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('hourly')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.public.kwh.kwhRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.public.kwh, 'kwhRate', 'publicKwh')"
                                   placeholder="{{ 'common.empty_currency_value' | translate }}"></ion-input>
                        <label>{{ (currency) }}/kWh</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="100" [(ngModel)]="priceprovider.public.kwh.kwhRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('publicKwh')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>1</ion-label>
                </ion-range>
                -->

                <hr>

                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding"> {{ 'station.park_cost' | translate }}</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('parking')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.public.kwh.parkRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.public.kwh, 'parkRate', 'publicKwh')"
                                   placeholder="{{ 'common.empty_currency_value' | translate }}"></ion-input>
                        <label>{{ (currency) }}/h</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.public.kwh.parkRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('publicKwh')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
                -->
            </div>
        </div>

    </ion-list>
        <!---------------------------------------------------------------------------->
    <ion-list class="ion-list-white">


      <ion-list class="ion-list-white">

       <ion-item>
            <ion-label left>{{ 'station.family_and_friends_tarif' | translate }}</ion-label>
            <ion-toggle [(ngModel)]="priceprovider.private.active" color="secondary" [ngModelOptions]="{standalone: true}"></ion-toggle>
        </ion-item>

        <ion-item text-wrap>
          {{ 'station.family_and_friends_tarif_description' | translate }}
        </ion-item>



      </ion-list>

        <div padding class="content-white tariff-box" *ngIf="priceprovider.private.active">
            <ion-list no-lines>
                <ion-item class="lines-inner-bottom" (click)="addPermission()">
                    {{ 'station.family_and_friends' | translate }} ({{priceprovider.private.permissions.length}})
                    <ion-icon name="ios-list" item-right></ion-icon>
                </ion-item>
            </ion-list>
            <ion-segment color="primary" [(ngModel)]="priceprovider.private.selected" [ngModelOptions]="{standalone: true}" padding>
                <ion-segment-button value="flatrate" *ngIf="hourlyTariff || kwhTariff">
                    {{ 'station.flatrate' | translate }}
                </ion-segment-button>
                <ion-segment-button value="hourly" *ngIf="hourlyTariff">
                    {{ 'station.hourly_tarif' | translate }}
                </ion-segment-button>
                <ion-segment-button value="kwh" *ngIf="kwhTariff">
                    {{ 'station.kwh_rate' | translate }}
                </ion-segment-button>
            </ion-segment>


            <div *ngIf="priceprovider.private.selected == 'flatrate'" padding>
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">{{ 'station.flat_rate_per_charge' | translate }}</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('flatrate')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.private.flatrate.flatrateRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.private.flatrate, 'flatrateRate')"
                                   placeholder="{{ 'common.empty_currency_value' | translate }}"></ion-input>
                        <label>{{ (currency) }}</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.private.flatrate.flatrateRate" pin="false">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
                -->
            </div>

            <div *ngIf="priceprovider.private.selected == 'hourly'" padding>
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">{{ 'station.your_energy_cost' | translate }} (*)</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('hourly')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.private.hourly.hourlyRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.private.hourly, 'hourlyRate', 'privateHourly')"
                                   placeholder="{{ 'common.empty_currency_value' | translate }}"></ion-input>
                        <label>{{ (currency) }}/kWh</label>
                    </div>
                </div>
                <p>
                    <small>
                        (*) {{ 'station.kwh_notice' | translate }}
                    </small>
                </p>
                <!--
                <ion-range min="0" max="100" [(ngModel)]="priceprovider.private.hourly.hourlyRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('privateHourly')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>1</ion-label>
                </ion-range>
                -->

                <hr>

                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">{{ 'station.park_cost' | translate }}</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('parking')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.private.hourly.parkRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.private.hourly, 'parkRate', 'privateHourly')"
                                   placeholder="{{ 'common.empty_currency_value' | translate }}"></ion-input>
                        <label>{{ (currency) }}/h</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.private.hourly.parkRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('privateHourly')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
                -->
            </div>

            <div *ngIf="priceprovider.private.selected == 'kwh'">
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">{{ 'station.your_energy_cost' | translate }}</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('hourly')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.private.kwh.kwhRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.private.kwh, 'kwhRate', 'privateKwh')"
                                   placeholder="{{ 'common.empty_currency_value' | translate }}"></ion-input>
                        <label>{{ (currency) }}/kWh</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="100" [(ngModel)]="priceprovider.private.kwh.kwhRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('privateKwh')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>1</ion-label>
                </ion-range>
                -->

                <hr>

                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding"> {{ 'station.park_cost' | translate }}</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('parking')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.private.kwh.parkRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.private.kwh, 'parkRate', 'privateKwh')"
                                   placeholder="{{ 'common.empty_currency_value' | translate }}"></ion-input>
                        <label>{{ (currency) }}/h</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.private.kwh.parkRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('privateKwh')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
                -->
            </div>
        </div>
    </ion-list>

    </form>

    <div padding text-center>
        <button ion-button round (click)="publish()" [disabled]="(!priceprovider.private.active) && (!priceprovider.public.active)" text-uppercase block>
            {{buttonText}}
        </button>
    </div>

</ion-content>
