<ion-header>

    <ion-navbar>
        <ion-title *ngIf="flowMode=='edit'">Ladestation bearbeiten</ion-title>
        <ion-title *ngIf="flowMode=='add'">Ladestation hinzufügen</ion-title>

        <ion-buttons end>
            <button ion-button color="dark" icon-only="" (click)="close()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <progress-bar [progress]="80"></progress-bar>
</ion-header>


<ion-content>

    <p padding="">
        Meine Tarife wählen
    </p>

    <form novalidate>

    <ion-list class="ion-list-white">
        <ion-item>
            <ion-label left>Community Tarif</ion-label>
            <ion-toggle [(ngModel)]="priceprovider.public.active" color="secondary" [ngModelOptions]="{standalone: true}"></ion-toggle>
        </ion-item>

        <div padding class="content-white tariff-box" *ngIf="priceprovider.public.active">
            <ion-segment color="primary" [(ngModel)]="priceprovider.public.selected" padding *ngIf="hourlyTariff || kwhTariff" [ngModelOptions]="{standalone: true}">
                <ion-segment-button value="flatrate" *ngIf="hourlyTariff || kwhTariff">
                    Flatrate
                </ion-segment-button>
                <ion-segment-button value="hourly" *ngIf="hourlyTariff">
                    Stundentarif
                </ion-segment-button>
                <ion-segment-button value="kwh" *ngIf="kwhTariff">
                    kWh genauer Tarif
                </ion-segment-button>
            </ion-segment>


            <div *ngIf="priceprovider.public.selected == 'flatrate'" padding>
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">Flatrate pro Ladung</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('flatrate')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <!-- heads up! if we use type="number" we can't use the number pipe. -->
                        <!-- type="number" <-> localization => not working (stable) -->
                        <ion-input type="number"
                                   [value]="priceprovider.public.flatrate.flatrateRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.public.flatrate, 'flatrateRate')"
                                   placeholder="0,00"
                        ></ion-input>
                        <label>€</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.public.flatrate.flatrateRate" pin="false">
                    <ion-label range-left>0€</ion-label>
                    <ion-label range-right>20€</ion-label>
                </ion-range>
                -->
            </div>


            <div *ngIf="priceprovider.public.selected == 'hourly'" padding>
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">Deine Energiekosten</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('hourly')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.public.hourly.hourlyRate / 100 || ''"
                                   (change)="updatePriceProvider($event, priceprovider.public.hourly, 'hourlyRate', 'publicHourly')"
                                   placeholder="0,00"></ion-input>
                        <label>€/kWh</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="100" [(ngModel)]="priceprovider.public.hourly.hourlyRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('publicHourly')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>1</ion-label>
                </ion-range>
                -->

                <hr>

                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">Parkkosten</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('parking')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.public.hourly.parkRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.public.hourly, 'parkRate', 'publicHourly')"
                                   placeholder="0,00"></ion-input>
                        <label>€</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.public.hourly.parkRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('publicHourly')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
                -->

                <hr>

                <p>Geschätzter stündlicher Tarif</p>

                <ion-grid>
                    <ion-row>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.publicHourly.small / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.publicHourly.medium / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.publicHourly.big / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>


            <div *ngIf="priceprovider.public.selected == 'kwh'">
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">Deine Energiekosten</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('hourly')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.public.kwh.kwhRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.public.kwh, 'kwhRate', 'publicKwh')"
                                   placeholder="0,00"></ion-input>
                        <label>€/kWh</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="100" [(ngModel)]="priceprovider.public.kwh.kwhRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('publicKwh')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>1</ion-label>
                </ion-range>
                -->

                <hr>

                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">Parkkosten</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('parking')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.public.kwh.parkRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.public.kwh, 'parkRate', 'publicKwh')"
                                   placeholder="0,00"></ion-input>
                        <label>€</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.public.kwh.parkRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('publicKwh')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
                -->

                <hr>

                <p>Geschätzter stündlicher Tarif</p>

                <ion-grid>
                    <ion-row>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.publicKwh.small / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.publicKwh.medium / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.publicKwh.big / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </div>
        </div>

        <!---------------------------------------------------------------------------->

        <ion-item>
            <ion-label left>Familie & Freunde Tarif</ion-label>
            <ion-toggle [(ngModel)]="priceprovider.private.active" color="secondary" [ngModelOptions]="{standalone: true}"></ion-toggle>
        </ion-item>

        <div padding class="content-white tariff-box" *ngIf="priceprovider.private.active">
            <ion-list no-lines>
                <ion-item class="lines-inner-bottom" (click)="addPermission()">
                    Familie & Freunde ({{priceprovider.private.permissions.length}})
                    <ion-icon name="ios-list" item-right></ion-icon>
                </ion-item>
            </ion-list>
            <ion-segment color="primary" [(ngModel)]="priceprovider.private.selected" [ngModelOptions]="{standalone: true}" padding>
                <ion-segment-button value="flatrate" *ngIf="hourlyTariff || kwhTariff">
                    Flatrate
                </ion-segment-button>
                <ion-segment-button value="hourly" *ngIf="hourlyTariff">
                    Stundentarif
                </ion-segment-button>
                <ion-segment-button value="kwh" *ngIf="kwhTariff">
                    kWh genauer Tarif
                </ion-segment-button>
            </ion-segment>


            <div *ngIf="priceprovider.private.selected == 'flatrate'" padding>
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">Flatrate pro Ladung</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('flatrate')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.private.flatrate.flatrateRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.private.flatrate, 'flatrateRate')"
                                   placeholder="0,00"></ion-input>
                        <label>€</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.private.flatrate.flatrateRate" pin="false">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
                -->
            </div>

            <div *ngIf="priceprovider.private.selected == 'hourly'" padding>
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">Deine Energiekosten</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('hourly')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.private.hourly.hourlyRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.private.hourly, 'hourlyRate', 'privateHourly')"
                                   placeholder="0,00"></ion-input>
                        <label>€/kWh</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="100" [(ngModel)]="priceprovider.private.hourly.hourlyRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('privateHourly')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>1</ion-label>
                </ion-range>
                -->

                <hr>

                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">Parkkosten</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('parking')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.private.hourly.parkRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.private.hourly, 'parkRate', 'privateHourly')"
                                   placeholder="0,00"></ion-input>
                        <label>€</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.private.hourly.parkRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('privateHourly')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
                -->

                <hr>

                <p>Geschätzter stündlicher Tarif</p>

                <ion-grid>
                    <ion-row>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.privateHourly.small / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.privateHourly.medium / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.privateHourly.big / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <div *ngIf="priceprovider.private.selected == 'kwh'">
                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">Deine Energiekosten</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('hourly')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.private.kwh.kwhRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.private.kwh, 'kwhRate', 'privateKwh')"
                                   placeholder="0,00"></ion-input>
                        <label>€/kWh</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="100" [(ngModel)]="priceprovider.private.kwh.kwhRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('privateKwh')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>1</ion-label>
                </ion-range>
                -->

                <hr>

                <ion-grid>
                    <ion-row>
                        <ion-col width-50="" class="nopadding">Parkkosten</ion-col>
                        <ion-col width-50="" class="nopadding" text-right="">
                            <ion-icon name="ios-bulb-outline" color="secondary" (click)="showHelp('parking')"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="input-box">
                    <div class="input-box-inner">
                        <ion-input type="number"
                                   [value]="priceprovider.private.kwh.parkRate / 100  || ''"
                                   (change)="updatePriceProvider($event, priceprovider.private.kwh, 'parkRate', 'privateKwh')"
                                   placeholder="0,00"></ion-input>
                        <label>€</label>
                    </div>
                </div>
                <!--
                <ion-range min="0" max="2000" [(ngModel)]="priceprovider.private.kwh.parkRate" pin="false"
                           (ionChange)="updateEstimationsDebounce('privateKwh')">
                    <ion-label range-left>0</ion-label>
                    <ion-label range-right>20</ion-label>
                </ion-range>
                -->

                <hr>

                <p>Geschätzter stündlicher Tarif</p>

                <ion-grid>
                    <ion-row>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.privateKwh.small / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.privateKwh.medium / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                        <ion-col width-33="" class="nopadding" text-center>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <ion-icon name="cust-station" color="secondary"></ion-icon>
                            <br>
                            Kapazität<br>
                            {{(estimatedPrice.privateKwh.big / 100) | currency:'EUR':true:'1.2-2'}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </ion-list>

    </form>

    <div padding text-center>
        <button ion-button round (click)="publish()" [disabled]="(!priceprovider.private.active) && (!priceprovider.public.active)" text-uppercase block>
            {{buttonText}}
        </button>
    </div>

</ion-content>
