<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Konto</ion-title>
        <ion-buttons end>
            <button ion-button (click)="addMoney()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <charging-progress-bar></charging-progress-bar>
</ion-header>

<ion-menu [content]="mycontent">
    <ion-header>
        <ion-toolbar>
            <ion-title></ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>Zahlungsvorgänge</ion-item>
            <ion-item>Auszahlung</ion-item>
            <ion-item>Rechnungen</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>


<ion-content #mycontent>
    <div class="top-container" padding="" text-center="" (click)="addMoney()">
        <h2>{{(currentBalance / 100) | currency:'EUR':true:'1.2-2'}}</h2>
        <h3>Guthaben</h3>
    </div>

    <h1>Meine Zahlungsvorgänge</h1>

    <ion-list>
        <ion-item *ngFor="let tr of paymentHistory">
            <span
                    class="amount"
                    [ngClass]="{'number-positive': tr.amount>0, 'number-negative': tr.amount<0}"
            >
                {{tr.amount / 100 | currency:'EUR':true:'1.2-2'}}
            </span>
            <small item-right>({{tr.type}}) {{tr.date | date:'short'}}</small>
        </ion-item>
    </ion-list>


    <div padding text-center *ngIf="noTransaction">
        <button ion-button text-uppercase round (click)="addMoney()">Konto aufladen</button>
    </div>

</ion-content>
