<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'wallet.account' | translate}}</ion-title>
        <ion-buttons end *ngIf="showPayIn === true">
            <button ion-button icon-only (click)="addMoney()">
                <ion-icon name="md-add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <charging-progress-bar></charging-progress-bar>
</ion-header>

<ion-menu [content]="mycontent">
    <ion-header>
        <ion-toolbar>
            <ion-title></ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <!--<ion-item>Zahlungsvorgänge</ion-item>-->
            <ion-item *ngIf="showPayOut === true" (click)="payOut()">{{'wallet.pay' | translate }}</ion-item>
            <ion-item (click)="redeemVoucher()">{{'wallet.voucher' | translate}}</ion-item>
            <!--<ion-item>Rechnungen</ion-item>-->
        </ion-list>
    </ion-content>
</ion-menu>


<ion-content #mycontent>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="top-container" padding="" text-center="" (click)="addMoney()">
        <h2>{{(currentBalance) | currencyDisplay }}</h2>
        <h3>{{'wallet.balance' | translate}}</h3>
    </div>

    <h1>{{'wallet.my_payment' | translate}}</h1>

    <ion-grid class="wallet-history">
        <ion-row *ngFor="let tr of transactions" [ngClass]="{'status-pending': tr.isPending()}" (click)="openTransactionDetail(tr)">

            <ion-col class="col-amount">
                <div class="loader" *ngIf="tr.isPending()"></div>
                <span
                        class="amount"
                        [ngClass]="tr.isAmountPositiv() ? 'number-positive' : 'number-negative'"
                >
                    {{ tr.amount  | currencyDisplay }}
                </span>
            </ion-col>

            <ion-col text-center="" class="col-type">
                <ion-icon name="{{getIcon(tr)}}" color="primary"></ion-icon>
            </ion-col>

            <ion-col>
                <small item-right>{{ tr.getTimestamp() | date:'short' }}</small>
            </ion-col>

        </ion-row>
    </ion-grid>

    <div padding text-center *ngIf="transactions && !transactions.length && showPayIn === true">
        <button ion-button text-uppercase round (click)="addMoney()">{{'wallet.deposit' | translate}}</button>
    </div>

</ion-content>
