<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Konto</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addMoney()">
                <ion-icon name="md-add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <charging-progress-bar></charging-progress-bar>
</ion-header>

<ion-menu [content]="mycontent">
    <ion-header>
        <ion-toolbar>
            <ion-title></ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <!--<ion-item>Zahlungsvorgänge</ion-item>-->
            <ion-item (click)="payOut()">Auszahlung</ion-item>
            <!--<ion-item>Rechnungen</ion-item>-->
        </ion-list>
    </ion-content>
</ion-menu>


<ion-content #mycontent>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="top-container" padding="" text-center="" (click)="addMoney()">
        <h2>{{(currentBalance / 100) | currency:'EUR':true:'1.2-2'}}</h2>
        <h3>Guthaben</h3>
    </div>

    <h1>Meine Zahlungsvorgänge</h1>

    <ion-grid id="walletHistory">
        <ion-row *ngFor="let tr of paymentHistory" [ngClass]="{'status-pending': tr.type=='TokenUpdate-pending' || tr.type == 'Payout-pending'}" (click)="openTransactionDetail(tr)">
            <ion-col *ngIf="tr.order || tr.receipt">
                <div class="loader" *ngIf="tr.type=='TokenUpdate-pending' || tr.type == 'Payout-pending'"></div>
                <span
                        class="amount"
                        [ngClass]="{'number-positive': tr.amount > 0, 'number-negative': tr.amount < 0}"
                >
                    {{absoluteValue(tr.amount) / 100 | currency:'EUR':true:'1.2-2'}}
                </span>
            </ion-col>
            <ion-col>
                <img *ngIf="tr.order" src="{{iconSourceMap[tr.order.type]}}">
                <img *ngIf="tr.receipt" src="{{iconSourceMap[tr.type]}}">
            </ion-col>
            <ion-col>
                <small item-right>
                    <span *ngIf="tr.order">{{tr.order.timestamp | date:'short'}}</span>
                    <span *ngIf="tr.receipt">{{tr.receipt.timestamp | date:'short'}}</span>
                </small>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div padding text-center *ngIf="noTransaction">
        <button ion-button text-uppercase round (click)="addMoney()">Konto aufladen</button>
    </div>

</ion-content>
