<ion-header>

    <ion-navbar>
        <ion-title>{{'profile.data.edit_name_adresse' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
        <ion-list no-lines="">

            <ng-container *ngIf="showCommercialOption">


                <ion-item text-wrap class="operator-vat-item">
                    <ion-checkbox checked="false"
                                  formControlName="businessUser"
                                  [(ngModel)]="editObj.operatorVat">
                    </ion-checkbox>
                    <ion-label>
                        {{'profile.data.commercial_provider' | translate}}</ion-label>
                    <ion-icon name="ios-help-circle-outline" item-right (click)="showHelp('operatorVat')"></ion-icon>
                </ion-item>

                <ion-item class="operator-vat-item" text-wrap>
                  {{'profile.data.commercial_provider_hint' | translate}}
                </ion-item>

                <div *ngIf="editObj.operatorVat" class="commercial-block">
                    <ion-item>
                        <ion-label stacked>{{'profile.data.company' | translate}} (*)</ion-label>
                        <ion-input type="text" class="input-white" [(ngModel)]="editObj.company"
                                   formControlName="company"></ion-input>
                    </ion-item>
                    <div *ngIf="profileForm.errors && profileForm.errors.businessUser.company && submitAttempt"
                         class="alert-box alert-box-danger" margin>
                        {{ errorMessages.company }}
                    </div>

                    <ion-item>
                        <ion-label stacked>{{'profile.data.vat_number' | translate}} (*)</ion-label>
                        <ion-input type="text" class="input-white" formControlName="operatorVatID"
                                   [(ngModel)]="editObj.operatorVatID"></ion-input>
                    </ion-item>
                    <div *ngIf="profileForm.errors && profileForm.errors.businessUser.vatNumber && submitAttempt"
                         class="alert-box alert-box-danger" margin>
                        {{ errorMessages.vatNumber }}
                    </div>

                    <ion-item class="commercial-category" text-wrap>
                      {{'profile.data.commercial_provider_hotel_hint' | translate}}
                    </ion-item>
                    <ion-item class="commercial-category">
                        <ion-label>
                            <ion-icon name="cust-hotel"></ion-icon>
                            <span>{{ 'profile.commercial_category.hotel'|translate }}</span>
                        </ion-label>
                        <ion-checkbox [(ngModel)]="editCommercialCategory.hotel" [ngModelOptions]="{standalone:true}"></ion-checkbox>
                    </ion-item>
                    <ion-item class="commercial-category">
                        <ion-label>
                            <ion-icon name="cust-restaurant"></ion-icon>
                            <span>{{ 'profile.commercial_category.restaurant'|translate }}</span>
                        </ion-label>
                        <ion-checkbox [(ngModel)]="editCommercialCategory.restaurant" [ngModelOptions]="{standalone:true}"></ion-checkbox>
                    </ion-item>
                </div>

            </ng-container>


            <ion-item>
                <ion-label stacked>{{'profile.data.first_name' | translate}} (*)</ion-label>
                <ion-input type="text" class="input-white" [(ngModel)]="about.firstname"
                           formControlName="firstName"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.firstName.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.firstName }}
            </div>
            <ion-item>
                <ion-label stacked>{{'profile.data.family_name' | translate}} (*)</ion-label>
                <ion-input type="text" class="input-white" formControlName="lastName"
                           [(ngModel)]="about.lastname"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.lastName.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.lastName }}
            </div>
            <ion-item>
                <ion-label stacked>{{'profile.data.email_adresse' | translate}} (*)</ion-label>
                <ion-input type="text" class="input-white" formControlName="email"
                           [(ngModel)]="user.email"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.lastName.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.email }}
            </div>
            <ion-item>
                <ion-label stacked>{{'profile.data.street_house_number' | translate}} (*)</ion-label>
                <ion-input type="text" class="input-white" formControlName="address"
                           [(ngModel)]="about.street"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.address.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.address }}
            </div>
            <ion-item>
                <ion-label stacked>{{'profile.data.city' | translate}} (*)</ion-label>
                <ion-input type="text" class="input-white" formControlName="city"
                           [(ngModel)]="about.city"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.city.valid && submitAttempt"
                class="alert-box alert-box-danger" margin>
                {{ errorMessages.city }}
            </div>
            <ion-item>
                <ion-label stacked>{{'profile.data.zipcode' | translate}}</ion-label>
                <ion-input type="tel" class="input-white" formControlName="postalCode"
                           [(ngModel)]="about.zipcode"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.postalCode.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.postalCode }}
                <ion-icon class="help-icon" name="ios-help-circle-outline" item-right (click)="showHelp('postalCode')"></ion-icon>
            </div>
            <ion-item>
                <ion-label stacked>{{'profile.data.phone' | translate}}</ion-label>
                <ion-input type="text" class="input-white" formControlName="state"
                           [(ngModel)]="about.phone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="label-small" stacked>{{'profile.data.state' | translate}}</ion-label>
                <ion-input formControlName="country"
                            class="input-white"
                            [(ngModel)]="editObj.country"
                ></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.country.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                 {{ errorMessages.country }}
            </div>
            <ion-item>
              <ion-label stacked>{{'profile.data.mandatory' | translate}}</ion-label>
            </ion-item>
        </ion-list>
        <div padding text-center>
            <button type="submit" ion-button round text-uppercase="">{{'common.save' | translate}}</button>
        </div>
    </form>

</ion-content>
