<ion-header>

    <ion-navbar>
        <ion-title>{{'profile.data.edit_name_adresse' | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
        <ion-list no-lines="">

            <ng-container *ngIf="haveCommercialOption">


                <ion-item text-wrap class="operator-vat-item">
                    <ion-checkbox checked="false"
                                  formControlName="businessUser"
                                  [(ngModel)]="editObj.operatorVat">
                    </ion-checkbox>
                    <ion-label>
                        {{'profile.data.commercial_provider' | translate}}</ion-label>
                    <ion-icon name="ios-help-circle-outline" item-right (click)="showHelp('operatorVat')"></ion-icon>
                </ion-item>

                <div *ngIf="editObj.operatorVat" class="commercial-block">
                    <ion-item>
                        <ion-label stacked>{{'profile.data.company' | translate}}</ion-label>
                        <ion-input type="text" class="input-white" [(ngModel)]="editObj.company"
                                   formControlName="company"></ion-input>
                    </ion-item>
                    <div *ngIf="profileForm.errors && profileForm.errors.businessUser.company && submitAttempt"
                         class="alert-box alert-box-danger" margin>
                        {{ errorMessages.company }}
                    </div>

                    <ion-item>
                        <ion-label floating>{{'profile.data.vat_number' | translate}}</ion-label>
                        <ion-input type="text" class="input-white" formControlName="operatorVatID"
                                   [(ngModel)]="editObj.operatorVatID"></ion-input>
                    </ion-item>
                    <div *ngIf="profileForm.errors && profileForm.errors.businessUser.vatNumber && submitAttempt"
                         class="alert-box alert-box-danger" margin>
                        {{ errorMessages.vatNumber }}
                    </div>

                    <ion-item class="commercial-category">
                        <ion-label>
                            <ion-icon name="cust-hotel"></ion-icon>
                            <span>Hotel</span>
                        </ion-label>
                        <ion-checkbox [(ngModel)]="editCommercialCategory.hotel" [ngModelOptions]="{standalone:true}"></ion-checkbox>
                    </ion-item>
                    <ion-item class="commercial-category">
                        <ion-label>
                            <ion-icon name="cust-rest"></ion-icon>
                            <span>Restaurant</span>
                        </ion-label>
                        <ion-checkbox [(ngModel)]="editCommercialCategory.restaurant" [ngModelOptions]="{standalone:true}"></ion-checkbox>
                    </ion-item>
                </div>

            </ng-container>


            <ion-item>
                <ion-label stacked>{{'profile.data.first_name' | translate}}</ion-label>
                <ion-input type="text" class="input-white" [(ngModel)]="editObj.firstname"
                           formControlName="firstName"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.firstName.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.firstName }}
            </div>
            <ion-item>
                <ion-label stacked>{{'profile.data.family_name' | translate}}</ion-label>
                <ion-input type="text" class="input-white" formControlName="lastName"
                           [(ngModel)]="editObj.lastname"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.lastName.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.lastName }}
            </div>
            <ion-item>
                <ion-label stacked>{{'profile.data.street_house_number' | translate}}</ion-label>
                <ion-input type="text" class="input-white" formControlName="address"
                           [(ngModel)]="editObj.address"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.address.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.address }}
            </div>
            <ion-item>
                <ion-label stacked>{{'profile.data.zipcode' | translate}}</ion-label>
                <ion-input type="tel" class="input-white" formControlName="postalCode"
                           [(ngModel)]="editObj.postalCode"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.postalCode.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.postalCode }}
                <ion-icon class="help-icon" name="ios-help-circle-outline" item-right (click)="showHelp('postalCode')"></ion-icon>
            </div>
            <ion-item>
                <ion-label stacked>{{'profile.data.city' | translate}}</ion-label>
                <ion-input type="text" class="input-white" formControlName="city"
                           [(ngModel)]="editObj.city"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls.city.valid && submitAttempt"
                class="alert-box alert-box-danger" margin>
                {{ errorMessages.city }}
            </div>
            <ion-item>
                <ion-label stacked>{{'profile.data.state' | translate}}</ion-label>
                <ion-input type="text" class="input-white" formControlName="state"
                           [(ngModel)]="editObj.state"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="label-small" stacked>{{'profile.data.country' | translate}}</ion-label>
                <ion-select formControlName="country"
                            [(ngModel)]="editObj.country"
                            multiple="false"
                            [selectOptions]="{title: 'profile.data.country' | translate}"
                            class="select-multiline input-white"
                            placeholder="{{'profile.data.select' | translate}}"
                            cancelText="{{'common.cancel' | translate}}" okText="{{'common.ok' | translate}}"
                >
                    <ion-option *ngFor="let country of countries" value="{{ country.value }}" selected="{{ country.selected }}">{{ country.name }}</ion-option>
                </ion-select>
            </ion-item>

            <div *ngIf="!profileForm.controls.country.valid && submitAttempt"
                 class="alert-box alert-box-danger" margin>
                {{ errorMessages.country }}
            </div>

        </ion-list>
        <div padding text-center>
            <button type="submit" ion-button round text-uppercase="">{{'common.save' | translate}}</button>
        </div>
    </form>

</ion-content>
