edit-profile {
    .operator-vat-item {
        ion-label {
            font-size: 0.9em;
        }

        ion-checkbox {
            margin-right: 5px;
        }

        ion-icon {
            margin-top: 1px;
        }

        .item-cover {
            // to make the link in the label click-able
            width: 80px;
        }
    }

    .commercial-block {
        margin-left: $content-margin*2;
    }

    .commercial-category {
        ion-icon {
            font-size: 2em;
            vertical-align: middle;
        }
        span {
            vertical-align: middle;
        }
    }
}