<ion-header>
    <ion-navbar>
        <ion-title>Profil Einstellungen</ion-title>
    </ion-navbar>
    <charging-progress-bar></charging-progress-bar>
</ion-header>


<ion-content>
    <ion-list padding-top="" padding-right="" class="no-outer-lines">
        <button ion-item (click)="profile()">
            Profil
        </button>
        <button ion-item (click)="notifications()">
            Benachrichtigungen
        </button>
        <button ion-item (click)="lang()" *ngIf="false">
            Sprache
        </button>
        <button ion-item (click)="privacy()" *ngIf="false">
            Datenschutz
        </button>

        <button ion-item (click)="deleteAccountConfirm()" class="color-secondary">
            Profil löschen
        </button>
    </ion-list>
</ion-content>
