<ion-header>
    <ion-navbar>
        <ion-title>Meine Ladestationen</ion-title>
        <ion-buttons end>
            <button ion-button (click)="addStation()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <charging-progress-bar></charging-progress-bar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let station of stations" #itemSliding>
            <button ion-item (click)="editStation(station)">
                <ion-avatar item-left>
                    <img src="{{station.images[0].src}}" *ngIf="station.images.length">
                    <img src="assets/icons/station.svg" *ngIf="!station.images.length">
                </ion-avatar>
                {{station.address}}
            </button>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteStation(station, itemSliding)">Löschen</button>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>

</ion-content>
