<div *ngIf="charging" class="progress-inner" [style.width]="progress + '%'" (click)="goToCharging()">
    <ion-fab top right *ngIf="activeCar">
        <button ion-fab class="fab-image">
            <div class="image-wrapper">
                    <img [ngStyle]="{'background-image':'url(' + activeCar.displayImageSrc + ')'}">
            </div>
            <div class="image-overlay">
                <ion-icon name="cust-battery"></ion-icon>
            </div>
        </button>
    </ion-fab>
</div>