page-charging-complete {
  .top-container {
    @include sc-gradient-light();

    color: #fff;
    margin-bottom: 32px;

    .image-button {
      $_button_size: 130px;
      width: $_button_size;
      height: $_button_size;
      display: block;
      overflow: hidden;
      margin: 20px auto 15px auto;
      padding: 16px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2) no-repeat center center;
      background-size: cover;
      color: inherit;
      font-size: 1.6rem;
      line-height: 2rem;

      &.filled {
        border: 2px solid #fff;
      }
    }

    .info-text {
      font-size: 2rem;
      margin: 10px 0 20px;
      ion-icon {
        font-size: 5rem;
        position: relative;
        top: 14px;
      }
    }
  }
}
