page-charging-complete {
    .top-container {
        $_top: lighten(map_get($colors, secondary), 0);
        $_bottom: lighten(map_get($colors, primary), 30);

        background-color: $_top;
        background-image: linear-gradient(45deg, $_top, $_bottom);

        color: #fff;

        margin-bottom: 16px;

        width: 100%;
        height: 200px;

        ion-segment {
            position: absolute;
            left: 32px;
            right: 32px;
            width: auto;
        }
    }
}
