<ion-header>

    <ion-navbar>
        <ion-title *ngIf="flowMode=='edit'">{{'station.edit_charging_station' | translate}}</ion-title>
        <ion-title *ngIf="flowMode=='add'">{{'station.add_charging_station' | translate}}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="close()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <progress-bar [progress]="60"></progress-bar>
</ion-header>


<ion-content padding>
    <ion-list no-lines="">

      <ion-list radio-group *ngIf="showRadiogroup()" [disabled]="flowMode==='edit'">
        <ion-item>
          <ion-radio name="none" value="none" checked item-left class="item-partial-cover" (ionSelect)="setMetadata('none')"></ion-radio>
          <ion-label>{{'station.none' | translate}}</ion-label>
          <ion-icon name="ios-help-circle-outline" item-right (click)="showHelp('none')" color="primary"></ion-icon>
        </ion-item>
        <ion-item *ngIf="displayJuiceBoxOption">
          <ion-radio name="juiceBox" value="juiceBox" item-left class="item-partial-cover" (ionSelect)="setMetadata('juiceBox')"></ion-radio>
          <ion-label>{{'station.juice_box_checkbox' | translate}}</ion-label>
          <ion-icon name="ios-help-circle-outline" item-right (click)="showHelp('juiceBox')"
                    color="primary"></ion-icon>
        </ion-item>
        <ion-item *ngIf="isScModuleOptionAvailable">
          <ion-radio name="accessControl" value="accessControl" item-left class="item-partial-cover" (ionSelect)="setMetadata('accessControl')"></ion-radio>
          <ion-label>{{'station.sc_module' | translate}}</ion-label>
          <ion-icon name="ios-help-circle-outline" item-right (click)="showHelp('accessControl')" color="primary"></ion-icon>
        </ion-item>
      </ion-list>

        <ion-item *ngIf="displayKWHOption">
            <!-- for now turned off, see: https://github.com/slockit/sc-app/issues/203 -->
            <!-- remove true and the connector.metadata.accessControl part if you wish to allow KWH-->
            <ion-checkbox [(ngModel)]="connector.metadata.kwh" disabled="{{ flowMode==='edit' || ( !connector.metadata.juiceBox  && !connector.metadata.accessControl )}}"
                      class="item-partial-cover"></ion-checkbox>
            <ion-label>{{'station.kwh_billing' | translate}}</ion-label>
            <ion-icon name="ios-help-circle-outline" item-right (click)="showHelp('kwh')" color="primary"></ion-icon>
        </ion-item>

        <ion-list-header *ngIf="showRadiogroup()">
            {{'station.select_connector' | translate}}
        </ion-list-header>

        <ion-item>
            <ion-label class="label-small">{{'station.plugtype' | translate}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-select [(ngModel)]="connector.plugtype"
                        multiple="false"
                        class="select-multiline input-white"
                        [selectOptions]="{title: selectPlugTypeTitle}"
                        placeholder="{{'common.choose' | translate}}"
                        cancelText="{{'common.cancel' | translate}}" okText="{{'common.ok' | translate}}"
                        (ngModelChange)="plugTypeDirty()"
                        [disabled]="connector.metadata.juiceBox || flowMode==='edit'"
            >
                <ion-option *ngFor="let plug of plugOptions" value="{{plug.id}}">{{plug.name}}</ion-option>
            </ion-select>
        </ion-item>

        <div *ngIf="errorMessages.plugType" class="alert-box alert-box-danger" margin>{{ errorMessages.plugType }}</div>

        <ion-item>
            <ion-label class="label-small">{{'station.power' | translate}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-select [(ngModel)]="wattpowerTemp"
                        multiple="false"
                        class="select-multiline input-white"
                        [selectOptions]="{title: selectPowerTitle}"
                        placeholder="{{'common.choose' | translate}}"
                        cancelText="{{'common.cancel' | translate}}" okText="{{'common.ok' | translate}}"
                        (ngModelChange)="updateWattpower()"
                        [disabled]="connector.metadata.juiceBox || flowMode==='edit'"
            >
                <ion-option value="2.3">2.3 kW</ion-option>
                <ion-option value="3.7">3.7 kW</ion-option>
                <ion-option value="4.6">4.6 kW</ion-option>
                <ion-option value="7.4">7.4 kW</ion-option>
                <ion-option value="10">10 kW</ion-option>
                <ion-option value="11">11 kW</ion-option>
                <ion-option value="22">22 kW</ion-option>
                <ion-option value="43">43 kW</ion-option>

            </ion-select>
        </ion-item>

        <div *ngIf="errorMessages.capacity" class="alert-box alert-box-danger" margin>{{ errorMessages.capacity }}</div>

    </ion-list>

    <div padding text-center>
        <button ion-button round (click)="nextPage()" text-uppercase outline block>{{'common.continue' | translate}}</button>
        <button ion-button round *ngIf="flowMode==='edit'" (click)="saveChanges()" text-uppercase block>{{'station.save_changes' | translate}}
        </button>
    </div>
</ion-content>
